<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Setting Sail</string>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>2160</integer>
		<key>width</key>
		<integer>2160</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>1080</integer>
		<key>y</key>
		<integer>1080</integer>
	</dict>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>450</integer>
					<integer>1079</integer>
				</array>
				<array>
					<integer>441</integer>
					<integer>1063</integer>
				</array>
				<array>
					<integer>411</integer>
					<integer>1037</integer>
				</array>
				<array>
					<integer>398</integer>
					<integer>1014</integer>
				</array>
				<array>
					<integer>364</integer>
					<integer>975</integer>
				</array>
				<array>
					<integer>345</integer>
					<integer>965</integer>
				</array>
				<array>
					<integer>328</integer>
					<integer>961</integer>
				</array>
				<array>
					<integer>309</integer>
					<integer>966</integer>
				</array>
				<array>
					<integer>293</integer>
					<integer>970</integer>
				</array>
				<array>
					<integer>262</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>240</integer>
					<integer>855</integer>
				</array>
				<array>
					<integer>233</integer>
					<integer>802</integer>
				</array>
				<array>
					<integer>244</integer>
					<integer>763</integer>
				</array>
				<array>
					<integer>255</integer>
					<integer>713</integer>
				</array>
				<array>
					<integer>264</integer>
					<integer>661</integer>
				</array>
				<array>
					<integer>259</integer>
					<integer>627</integer>
				</array>
				<array>
					<integer>252</integer>
					<integer>608</integer>
				</array>
				<array>
					<integer>242</integer>
					<integer>590</integer>
				</array>
				<array>
					<integer>228</integer>
					<integer>551</integer>
				</array>
				<array>
					<integer>226</integer>
					<integer>538</integer>
				</array>
				<array>
					<integer>230</integer>
					<integer>520</integer>
				</array>
				<array>
					<integer>245</integer>
					<integer>487</integer>
				</array>
				<array>
					<integer>251</integer>
					<integer>468</integer>
				</array>
				<array>
					<integer>258</integer>
					<integer>439</integer>
				</array>
				<array>
					<integer>261</integer>
					<integer>425</integer>
				</array>
				<array>
					<integer>274</integer>
					<integer>392</integer>
				</array>
				<array>
					<integer>280</integer>
					<integer>381</integer>
				</array>
				<array>
					<integer>280</integer>
					<integer>361</integer>
				</array>
				<array>
					<integer>282</integer>
					<integer>343</integer>
				</array>
				<array>
					<integer>285</integer>
					<integer>320</integer>
				</array>
				<array>
					<integer>289</integer>
					<integer>278</integer>
				</array>
				<array>
					<integer>289</integer>
					<integer>255</integer>
				</array>
				<array>
					<integer>285</integer>
					<integer>218</integer>
				</array>
				<array>
					<integer>284</integer>
					<integer>195</integer>
				</array>
				<array>
					<integer>273</integer>
					<integer>149</integer>
				</array>
				<array>
					<integer>266</integer>
					<integer>118</integer>
				</array>
				<array>
					<integer>261</integer>
					<integer>108</integer>
				</array>
				<array>
					<integer>253</integer>
					<integer>83</integer>
				</array>
				<array>
					<integer>252</integer>
					<integer>77</integer>
				</array>
				<array>
					<integer>251</integer>
					<integer>65</integer>
				</array>
				<array>
					<integer>248</integer>
					<integer>49</integer>
				</array>
				<array>
					<integer>248</integer>
					<integer>27</integer>
				</array>
				<array>
					<integer>255</integer>
					<integer>1</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>1</integer>
				</array>
				<array>
					<integer>-1</integer>
					<integer>1079</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>811</integer>
					<integer>824</integer>
				</array>
				<array>
					<integer>838</integer>
					<integer>819</integer>
				</array>
				<array>
					<integer>843</integer>
					<integer>812</integer>
				</array>
				<array>
					<integer>844</integer>
					<integer>799</integer>
				</array>
				<array>
					<integer>849</integer>
					<integer>792</integer>
				</array>
				<array>
					<integer>857</integer>
					<integer>778</integer>
				</array>
				<array>
					<integer>860</integer>
					<integer>771</integer>
				</array>
				<array>
					<integer>855</integer>
					<integer>762</integer>
				</array>
				<array>
					<integer>845</integer>
					<integer>749</integer>
				</array>
				<array>
					<integer>837</integer>
					<integer>740</integer>
				</array>
				<array>
					<integer>822</integer>
					<integer>727</integer>
				</array>
				<array>
					<integer>799</integer>
					<integer>726</integer>
				</array>
				<array>
					<integer>783</integer>
					<integer>737</integer>
				</array>
				<array>
					<integer>784</integer>
					<integer>755</integer>
				</array>
				<array>
					<integer>778</integer>
					<integer>762</integer>
				</array>
				<array>
					<integer>773</integer>
					<integer>772</integer>
				</array>
				<array>
					<integer>774</integer>
					<integer>778</integer>
				</array>
				<array>
					<integer>780</integer>
					<integer>789</integer>
				</array>
				<array>
					<integer>783</integer>
					<integer>799</integer>
				</array>
				<array>
					<integer>792</integer>
					<integer>812</integer>
				</array>
				<array>
					<integer>803</integer>
					<integer>817</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>695</integer>
					<integer>418</integer>
				</array>
				<array>
					<integer>721</integer>
					<integer>422</integer>
				</array>
				<array>
					<integer>733</integer>
					<integer>416</integer>
				</array>
				<array>
					<integer>744</integer>
					<integer>404</integer>
				</array>
				<array>
					<integer>749</integer>
					<integer>391</integer>
				</array>
				<array>
					<integer>754</integer>
					<integer>378</integer>
				</array>
				<array>
					<integer>760</integer>
					<integer>363</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>347</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>334</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>319</integer>
				</array>
				<array>
					<integer>764</integer>
					<integer>299</integer>
				</array>
				<array>
					<integer>763</integer>
					<integer>282</integer>
				</array>
				<array>
					<integer>753</integer>
					<integer>271</integer>
				</array>
				<array>
					<integer>733</integer>
					<integer>263</integer>
				</array>
				<array>
					<integer>725</integer>
					<integer>263</integer>
				</array>
				<array>
					<integer>713</integer>
					<integer>271</integer>
				</array>
				<array>
					<integer>707</integer>
					<integer>292</integer>
				</array>
				<array>
					<integer>706</integer>
					<integer>322</integer>
				</array>
				<array>
					<integer>699</integer>
					<integer>334</integer>
				</array>
				<array>
					<integer>695</integer>
					<integer>346</integer>
				</array>
				<array>
					<integer>689</integer>
					<integer>354</integer>
				</array>
				<array>
					<integer>684</integer>
					<integer>369</integer>
				</array>
				<array>
					<integer>686</integer>
					<integer>378</integer>
				</array>
				<array>
					<integer>685</integer>
					<integer>395</integer>
				</array>
				<array>
					<integer>688</integer>
					<integer>409</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>setting_sail_terrain</string>
	</dict>
</dict>
</plist>
