<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<dict>
		<key>boulders</key>
		<integer>0</integer>
		<key>whirlpoolLocations</key>
		<array/>
		<key>whirlpools</key>
		<integer>0</integer>
	</dict>
	<key>name</key>
	<string>X Marks The Spot</string>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>4320</integer>
		<key>width</key>
		<integer>4320</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>2160</integer>
		<key>y</key>
		<integer>2160</integer>
	</dict>
	<key>spawnVolumes</key>
	<array>
		<dict>
			<key>maxx</key>
			<integer>-10</integer>
			<key>maxy</key>
			<integer>4320</integer>
			<key>minx</key>
			<integer>-200</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>4320</integer>
			<key>maxy</key>
			<integer>-10</integer>
			<key>minx</key>
			<integer>0</integer>
			<key>miny</key>
			<integer>-200</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>4520</integer>
			<key>maxy</key>
			<integer>4320</integer>
			<key>minx</key>
			<integer>4330</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>82</integer>
					<integer>2159</integer>
				</array>
				<array>
					<integer>131</integer>
					<integer>2149</integer>
				</array>
				<array>
					<integer>222</integer>
					<integer>2135</integer>
				</array>
				<array>
					<integer>278</integer>
					<integer>2126</integer>
				</array>
				<array>
					<integer>331</integer>
					<integer>2112</integer>
				</array>
				<array>
					<integer>396</integer>
					<integer>2083</integer>
				</array>
				<array>
					<integer>451</integer>
					<integer>2055</integer>
				</array>
				<array>
					<integer>497</integer>
					<integer>2029</integer>
				</array>
				<array>
					<integer>583</integer>
					<integer>2000</integer>
				</array>
				<array>
					<integer>668</integer>
					<integer>1978</integer>
				</array>
				<array>
					<integer>739</integer>
					<integer>1967</integer>
				</array>
				<array>
					<integer>816</integer>
					<integer>1957</integer>
				</array>
				<array>
					<integer>866</integer>
					<integer>1941</integer>
				</array>
				<array>
					<integer>917</integer>
					<integer>1922</integer>
				</array>
				<array>
					<integer>972</integer>
					<integer>1907</integer>
				</array>
				<array>
					<integer>1012</integer>
					<integer>1905</integer>
				</array>
				<array>
					<integer>1052</integer>
					<integer>1907</integer>
				</array>
				<array>
					<integer>1070</integer>
					<integer>1906</integer>
				</array>
				<array>
					<integer>1086</integer>
					<integer>1917</integer>
				</array>
				<array>
					<integer>1115</integer>
					<integer>1917</integer>
				</array>
				<array>
					<integer>1146</integer>
					<integer>1918</integer>
				</array>
				<array>
					<integer>1180</integer>
					<integer>1922</integer>
				</array>
				<array>
					<integer>1218</integer>
					<integer>1937</integer>
				</array>
				<array>
					<integer>1258</integer>
					<integer>1938</integer>
				</array>
				<array>
					<integer>1292</integer>
					<integer>1940</integer>
				</array>
				<array>
					<integer>1317</integer>
					<integer>1951</integer>
				</array>
				<array>
					<integer>1344</integer>
					<integer>1955</integer>
				</array>
				<array>
					<integer>1373</integer>
					<integer>1957</integer>
				</array>
				<array>
					<integer>1423</integer>
					<integer>1964</integer>
				</array>
				<array>
					<integer>1475</integer>
					<integer>1971</integer>
				</array>
				<array>
					<integer>1545</integer>
					<integer>1991</integer>
				</array>
				<array>
					<integer>1581</integer>
					<integer>1999</integer>
				</array>
				<array>
					<integer>1620</integer>
					<integer>1997</integer>
				</array>
				<array>
					<integer>1657</integer>
					<integer>1997</integer>
				</array>
				<array>
					<integer>1705</integer>
					<integer>2009</integer>
				</array>
				<array>
					<integer>1738</integer>
					<integer>2027</integer>
				</array>
				<array>
					<integer>1777</integer>
					<integer>2043</integer>
				</array>
				<array>
					<integer>1815</integer>
					<integer>2064</integer>
				</array>
				<array>
					<integer>1859</integer>
					<integer>2091</integer>
				</array>
				<array>
					<integer>1893</integer>
					<integer>2115</integer>
				</array>
				<array>
					<integer>1917</integer>
					<integer>2148</integer>
				</array>
				<array>
					<integer>1926</integer>
					<integer>2159</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>851</integer>
					<integer>805</integer>
				</array>
				<array>
					<integer>871</integer>
					<integer>850</integer>
				</array>
				<array>
					<integer>906</integer>
					<integer>884</integer>
				</array>
				<array>
					<integer>947</integer>
					<integer>907</integer>
				</array>
				<array>
					<integer>990</integer>
					<integer>917</integer>
				</array>
				<array>
					<integer>1034</integer>
					<integer>916</integer>
				</array>
				<array>
					<integer>1072</integer>
					<integer>911</integer>
				</array>
				<array>
					<integer>1113</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>1147</integer>
					<integer>883</integer>
				</array>
				<array>
					<integer>1173</integer>
					<integer>866</integer>
				</array>
				<array>
					<integer>1197</integer>
					<integer>847</integer>
				</array>
				<array>
					<integer>1216</integer>
					<integer>824</integer>
				</array>
				<array>
					<integer>1234</integer>
					<integer>797</integer>
				</array>
				<array>
					<integer>1247</integer>
					<integer>764</integer>
				</array>
				<array>
					<integer>1254</integer>
					<integer>727</integer>
				</array>
				<array>
					<integer>1257</integer>
					<integer>689</integer>
				</array>
				<array>
					<integer>1252</integer>
					<integer>643</integer>
				</array>
				<array>
					<integer>1242</integer>
					<integer>612</integer>
				</array>
				<array>
					<integer>1226</integer>
					<integer>581</integer>
				</array>
				<array>
					<integer>1204</integer>
					<integer>555</integer>
				</array>
				<array>
					<integer>1176</integer>
					<integer>532</integer>
				</array>
				<array>
					<integer>1143</integer>
					<integer>510</integer>
				</array>
				<array>
					<integer>1104</integer>
					<integer>492</integer>
				</array>
				<array>
					<integer>1060</integer>
					<integer>481</integer>
				</array>
				<array>
					<integer>1020</integer>
					<integer>476</integer>
				</array>
				<array>
					<integer>980</integer>
					<integer>478</integer>
				</array>
				<array>
					<integer>941</integer>
					<integer>486</integer>
				</array>
				<array>
					<integer>911</integer>
					<integer>504</integer>
				</array>
				<array>
					<integer>882</integer>
					<integer>528</integer>
				</array>
				<array>
					<integer>858</integer>
					<integer>555</integer>
				</array>
				<array>
					<integer>837</integer>
					<integer>589</integer>
				</array>
				<array>
					<integer>820</integer>
					<integer>622</integer>
				</array>
				<array>
					<integer>808</integer>
					<integer>654</integer>
				</array>
				<array>
					<integer>807</integer>
					<integer>685</integer>
				</array>
				<array>
					<integer>810</integer>
					<integer>714</integer>
				</array>
				<array>
					<integer>819</integer>
					<integer>743</integer>
				</array>
				<array>
					<integer>825</integer>
					<integer>774</integer>
				</array>
				<array>
					<integer>835</integer>
					<integer>792</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>shiver_me_timbers_terrain</string>
		<key>waterImage</key>
		<string>shiver_me_timbers_water</string>
	</dict>
	<key>waves</key>
	<array>
		<dict>
			<key>special</key>
			<string>WPTKrakenIntroWave</string>
		</dict>
		<dict>
			<key>special</key>
			<string>WPTKrakenChestStealWave</string>
		</dict>
		<dict>
			<key>tentacleDuration</key>
			<integer>10</integer>
			<key>tentacleCount</key>
			<integer>8</integer>
			<key>special</key>
			<string>WPTTentacle1Wave</string>
		</dict>
		<dict>
			<key>special</key>
			<string>WPTTentacle2Wave</string>
		</dict>
		<dict>
			<key>enemies</key>
			<dict>
				<key>Dynamic Tentacle</key>
				<integer>8</integer>
			</dict>
			<key>special</key>
			<string>WPTKrakenWave</string>
		</dict>
		<dict>
			<key>special</key>
			<string>WPTTreasureReturnsWave</string>
		</dict>
		<dict>
			<key>special</key>
			<string>WPTTreasureWave</string>
			<key>xMarksTheSpot</key>
			<dict>
				<key>x</key>
				<integer>2050</integer>
				<key>y</key>
				<integer>1440</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
