<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<dict>
		<key>whirlpoolLocations</key>
		<array/>
		<key>whirlpools</key>
		<integer>0</integer>
	</dict>
	<key>name</key>
	<string>Cutlass Careen</string>
	<key>port</key>
	<dict>
		<key>inventory</key>
		<array/>
		<key>position</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>2800</integer>
		<key>width</key>
		<integer>4320</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>3500</integer>
		<key>y</key>
		<integer>1700</integer>
	</dict>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>77</integer>
					<integer>1279</integer>
				</array>
				<array>
					<integer>95</integer>
					<integer>1280</integer>
				</array>
				<array>
					<integer>104</integer>
					<integer>1276</integer>
				</array>
				<array>
					<integer>126</integer>
					<integer>1278</integer>
				</array>
				<array>
					<integer>149</integer>
					<integer>1278</integer>
				</array>
				<array>
					<integer>181</integer>
					<integer>1279</integer>
				</array>
				<array>
					<integer>210</integer>
					<integer>1268</integer>
				</array>
				<array>
					<integer>220</integer>
					<integer>1261</integer>
				</array>
				<array>
					<integer>246</integer>
					<integer>1260</integer>
				</array>
				<array>
					<integer>268</integer>
					<integer>1252</integer>
				</array>
				<array>
					<integer>285</integer>
					<integer>1239</integer>
				</array>
				<array>
					<integer>298</integer>
					<integer>1216</integer>
				</array>
				<array>
					<integer>310</integer>
					<integer>1186</integer>
				</array>
				<array>
					<integer>319</integer>
					<integer>1167</integer>
				</array>
				<array>
					<integer>316</integer>
					<integer>1144</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>1118</integer>
				</array>
				<array>
					<integer>310</integer>
					<integer>1083</integer>
				</array>
				<array>
					<integer>295</integer>
					<integer>1061</integer>
				</array>
				<array>
					<integer>278</integer>
					<integer>1035</integer>
				</array>
				<array>
					<integer>233</integer>
					<integer>1007</integer>
				</array>
				<array>
					<integer>192</integer>
					<integer>990</integer>
				</array>
				<array>
					<integer>161</integer>
					<integer>975</integer>
				</array>
				<array>
					<integer>142</integer>
					<integer>964</integer>
				</array>
				<array>
					<integer>128</integer>
					<integer>961</integer>
				</array>
				<array>
					<integer>110</integer>
					<integer>968</integer>
				</array>
				<array>
					<integer>90</integer>
					<integer>991</integer>
				</array>
				<array>
					<integer>76</integer>
					<integer>1019</integer>
				</array>
				<array>
					<integer>80</integer>
					<integer>1070</integer>
				</array>
				<array>
					<integer>78</integer>
					<integer>1105</integer>
				</array>
				<array>
					<integer>76</integer>
					<integer>1120</integer>
				</array>
				<array>
					<integer>58</integer>
					<integer>1141</integer>
				</array>
				<array>
					<integer>49</integer>
					<integer>1166</integer>
				</array>
				<array>
					<integer>53</integer>
					<integer>1215</integer>
				</array>
				<array>
					<integer>61</integer>
					<integer>1249</integer>
				</array>
				<array>
					<integer>66</integer>
					<integer>1268</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>308</integer>
					<integer>933</integer>
				</array>
				<array>
					<integer>326</integer>
					<integer>934</integer>
				</array>
				<array>
					<integer>335</integer>
					<integer>928</integer>
				</array>
				<array>
					<integer>348</integer>
					<integer>916</integer>
				</array>
				<array>
					<integer>354</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>349</integer>
					<integer>885</integer>
				</array>
				<array>
					<integer>344</integer>
					<integer>873</integer>
				</array>
				<array>
					<integer>331</integer>
					<integer>864</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>865</integer>
				</array>
				<array>
					<integer>301</integer>
					<integer>870</integer>
				</array>
				<array>
					<integer>291</integer>
					<integer>886</integer>
				</array>
				<array>
					<integer>290</integer>
					<integer>910</integer>
				</array>
				<array>
					<integer>297</integer>
					<integer>924</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>384</integer>
					<integer>874</integer>
				</array>
				<array>
					<integer>400</integer>
					<integer>875</integer>
				</array>
				<array>
					<integer>415</integer>
					<integer>866</integer>
				</array>
				<array>
					<integer>420</integer>
					<integer>856</integer>
				</array>
				<array>
					<integer>429</integer>
					<integer>847</integer>
				</array>
				<array>
					<integer>436</integer>
					<integer>836</integer>
				</array>
				<array>
					<integer>436</integer>
					<integer>828</integer>
				</array>
				<array>
					<integer>438</integer>
					<integer>812</integer>
				</array>
				<array>
					<integer>436</integer>
					<integer>798</integer>
				</array>
				<array>
					<integer>431</integer>
					<integer>784</integer>
				</array>
				<array>
					<integer>423</integer>
					<integer>766</integer>
				</array>
				<array>
					<integer>410</integer>
					<integer>750</integer>
				</array>
				<array>
					<integer>405</integer>
					<integer>746</integer>
				</array>
				<array>
					<integer>397</integer>
					<integer>738</integer>
				</array>
				<array>
					<integer>383</integer>
					<integer>730</integer>
				</array>
				<array>
					<integer>365</integer>
					<integer>730</integer>
				</array>
				<array>
					<integer>351</integer>
					<integer>736</integer>
				</array>
				<array>
					<integer>338</integer>
					<integer>746</integer>
				</array>
				<array>
					<integer>326</integer>
					<integer>764</integer>
				</array>
				<array>
					<integer>325</integer>
					<integer>785</integer>
				</array>
				<array>
					<integer>338</integer>
					<integer>815</integer>
				</array>
				<array>
					<integer>345</integer>
					<integer>822</integer>
				</array>
				<array>
					<integer>360</integer>
					<integer>850</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>367</integer>
					<integer>647</integer>
				</array>
				<array>
					<integer>421</integer>
					<integer>651</integer>
				</array>
				<array>
					<integer>481</integer>
					<integer>650</integer>
				</array>
				<array>
					<integer>498</integer>
					<integer>640</integer>
				</array>
				<array>
					<integer>502</integer>
					<integer>631</integer>
				</array>
				<array>
					<integer>502</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>501</integer>
					<integer>610</integer>
				</array>
				<array>
					<integer>492</integer>
					<integer>595</integer>
				</array>
				<array>
					<integer>478</integer>
					<integer>585</integer>
				</array>
				<array>
					<integer>456</integer>
					<integer>578</integer>
				</array>
				<array>
					<integer>437</integer>
					<integer>573</integer>
				</array>
				<array>
					<integer>430</integer>
					<integer>574</integer>
				</array>
				<array>
					<integer>398</integer>
					<integer>568</integer>
				</array>
				<array>
					<integer>379</integer>
					<integer>565</integer>
				</array>
				<array>
					<integer>369</integer>
					<integer>561</integer>
				</array>
				<array>
					<integer>349</integer>
					<integer>563</integer>
				</array>
				<array>
					<integer>334</integer>
					<integer>568</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>586</integer>
				</array>
				<array>
					<integer>323</integer>
					<integer>608</integer>
				</array>
				<array>
					<integer>335</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>345</integer>
					<integer>634</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>543</integer>
					<integer>588</integer>
				</array>
				<array>
					<integer>565</integer>
					<integer>585</integer>
				</array>
				<array>
					<integer>576</integer>
					<integer>587</integer>
				</array>
				<array>
					<integer>595</integer>
					<integer>582</integer>
				</array>
				<array>
					<integer>610</integer>
					<integer>577</integer>
				</array>
				<array>
					<integer>619</integer>
					<integer>564</integer>
				</array>
				<array>
					<integer>620</integer>
					<integer>552</integer>
				</array>
				<array>
					<integer>620</integer>
					<integer>542</integer>
				</array>
				<array>
					<integer>612</integer>
					<integer>532</integer>
				</array>
				<array>
					<integer>598</integer>
					<integer>523</integer>
				</array>
				<array>
					<integer>579</integer>
					<integer>522</integer>
				</array>
				<array>
					<integer>563</integer>
					<integer>525</integer>
				</array>
				<array>
					<integer>543</integer>
					<integer>530</integer>
				</array>
				<array>
					<integer>531</integer>
					<integer>536</integer>
				</array>
				<array>
					<integer>525</integer>
					<integer>550</integer>
				</array>
				<array>
					<integer>521</integer>
					<integer>562</integer>
				</array>
				<array>
					<integer>528</integer>
					<integer>577</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>285</integer>
					<integer>526</integer>
				</array>
				<array>
					<integer>298</integer>
					<integer>530</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>528</integer>
				</array>
				<array>
					<integer>328</integer>
					<integer>520</integer>
				</array>
				<array>
					<integer>333</integer>
					<integer>508</integer>
				</array>
				<array>
					<integer>331</integer>
					<integer>496</integer>
				</array>
				<array>
					<integer>328</integer>
					<integer>481</integer>
				</array>
				<array>
					<integer>320</integer>
					<integer>472</integer>
				</array>
				<array>
					<integer>304</integer>
					<integer>461</integer>
				</array>
				<array>
					<integer>286</integer>
					<integer>451</integer>
				</array>
				<array>
					<integer>270</integer>
					<integer>444</integer>
				</array>
				<array>
					<integer>255</integer>
					<integer>437</integer>
				</array>
				<array>
					<integer>240</integer>
					<integer>433</integer>
				</array>
				<array>
					<integer>223</integer>
					<integer>440</integer>
				</array>
				<array>
					<integer>209</integer>
					<integer>454</integer>
				</array>
				<array>
					<integer>206</integer>
					<integer>472</integer>
				</array>
				<array>
					<integer>216</integer>
					<integer>491</integer>
				</array>
				<array>
					<integer>228</integer>
					<integer>504</integer>
				</array>
				<array>
					<integer>254</integer>
					<integer>518</integer>
				</array>
				<array>
					<integer>270</integer>
					<integer>525</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>830</integer>
					<integer>726</integer>
				</array>
				<array>
					<integer>848</integer>
					<integer>726</integer>
				</array>
				<array>
					<integer>881</integer>
					<integer>733</integer>
				</array>
				<array>
					<integer>924</integer>
					<integer>730</integer>
				</array>
				<array>
					<integer>948</integer>
					<integer>730</integer>
				</array>
				<array>
					<integer>976</integer>
					<integer>716</integer>
				</array>
				<array>
					<integer>987</integer>
					<integer>698</integer>
				</array>
				<array>
					<integer>996</integer>
					<integer>676</integer>
				</array>
				<array>
					<integer>996</integer>
					<integer>648</integer>
				</array>
				<array>
					<integer>996</integer>
					<integer>634</integer>
				</array>
				<array>
					<integer>988</integer>
					<integer>615</integer>
				</array>
				<array>
					<integer>975</integer>
					<integer>593</integer>
				</array>
				<array>
					<integer>968</integer>
					<integer>575</integer>
				</array>
				<array>
					<integer>953</integer>
					<integer>552</integer>
				</array>
				<array>
					<integer>951</integer>
					<integer>525</integer>
				</array>
				<array>
					<integer>951</integer>
					<integer>492</integer>
				</array>
				<array>
					<integer>948</integer>
					<integer>471</integer>
				</array>
				<array>
					<integer>935</integer>
					<integer>443</integer>
				</array>
				<array>
					<integer>918</integer>
					<integer>416</integer>
				</array>
				<array>
					<integer>901</integer>
					<integer>403</integer>
				</array>
				<array>
					<integer>888</integer>
					<integer>400</integer>
				</array>
				<array>
					<integer>882</integer>
					<integer>391</integer>
				</array>
				<array>
					<integer>863</integer>
					<integer>388</integer>
				</array>
				<array>
					<integer>840</integer>
					<integer>394</integer>
				</array>
				<array>
					<integer>825</integer>
					<integer>408</integer>
				</array>
				<array>
					<integer>814</integer>
					<integer>422</integer>
				</array>
				<array>
					<integer>805</integer>
					<integer>460</integer>
				</array>
				<array>
					<integer>806</integer>
					<integer>483</integer>
				</array>
				<array>
					<integer>801</integer>
					<integer>570</integer>
				</array>
				<array>
					<integer>805</integer>
					<integer>618</integer>
				</array>
				<array>
					<integer>801</integer>
					<integer>676</integer>
				</array>
				<array>
					<integer>805</integer>
					<integer>698</integer>
				</array>
				<array>
					<integer>815</integer>
					<integer>718</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>9</integer>
					<integer>151</integer>
				</array>
				<array>
					<integer>26</integer>
					<integer>146</integer>
				</array>
				<array>
					<integer>46</integer>
					<integer>142</integer>
				</array>
				<array>
					<integer>71</integer>
					<integer>153</integer>
				</array>
				<array>
					<integer>107</integer>
					<integer>172</integer>
				</array>
				<array>
					<integer>150</integer>
					<integer>196</integer>
				</array>
				<array>
					<integer>191</integer>
					<integer>221</integer>
				</array>
				<array>
					<integer>224</integer>
					<integer>238</integer>
				</array>
				<array>
					<integer>245</integer>
					<integer>246</integer>
				</array>
				<array>
					<integer>260</integer>
					<integer>286</integer>
				</array>
				<array>
					<integer>283</integer>
					<integer>320</integer>
				</array>
				<array>
					<integer>326</integer>
					<integer>351</integer>
				</array>
				<array>
					<integer>393</integer>
					<integer>375</integer>
				</array>
				<array>
					<integer>463</integer>
					<integer>389</integer>
				</array>
				<array>
					<integer>528</integer>
					<integer>393</integer>
				</array>
				<array>
					<integer>560</integer>
					<integer>388</integer>
				</array>
				<array>
					<integer>590</integer>
					<integer>365</integer>
				</array>
				<array>
					<integer>607</integer>
					<integer>341</integer>
				</array>
				<array>
					<integer>613</integer>
					<integer>313</integer>
				</array>
				<array>
					<integer>615</integer>
					<integer>288</integer>
				</array>
				<array>
					<integer>605</integer>
					<integer>259</integer>
				</array>
				<array>
					<integer>587</integer>
					<integer>230</integer>
				</array>
				<array>
					<integer>568</integer>
					<integer>207</integer>
				</array>
				<array>
					<integer>546</integer>
					<integer>188</integer>
				</array>
				<array>
					<integer>495</integer>
					<integer>157</integer>
				</array>
				<array>
					<integer>478</integer>
					<integer>142</integer>
				</array>
				<array>
					<integer>460</integer>
					<integer>130</integer>
				</array>
				<array>
					<integer>452</integer>
					<integer>116</integer>
				</array>
				<array>
					<integer>448</integer>
					<integer>95</integer>
				</array>
				<array>
					<integer>462</integer>
					<integer>72</integer>
				</array>
				<array>
					<integer>466</integer>
					<integer>55</integer>
				</array>
				<array>
					<integer>479</integer>
					<integer>41</integer>
				</array>
				<array>
					<integer>493</integer>
					<integer>19</integer>
				</array>
				<array>
					<integer>512</integer>
					<integer>1</integer>
				</array>
				<array>
					<integer>513</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>1</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>151</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>2159</integer>
					<integer>1045</integer>
				</array>
				<array>
					<integer>2145</integer>
					<integer>1028</integer>
				</array>
				<array>
					<integer>2112</integer>
					<integer>1008</integer>
				</array>
				<array>
					<integer>2095</integer>
					<integer>991</integer>
				</array>
				<array>
					<integer>2073</integer>
					<integer>977</integer>
				</array>
				<array>
					<integer>2048</integer>
					<integer>956</integer>
				</array>
				<array>
					<integer>2013</integer>
					<integer>931</integer>
				</array>
				<array>
					<integer>1973</integer>
					<integer>914</integer>
				</array>
				<array>
					<integer>1946</integer>
					<integer>898</integer>
				</array>
				<array>
					<integer>1910</integer>
					<integer>897</integer>
				</array>
				<array>
					<integer>1898</integer>
					<integer>895</integer>
				</array>
				<array>
					<integer>1878</integer>
					<integer>889</integer>
				</array>
				<array>
					<integer>1870</integer>
					<integer>868</integer>
				</array>
				<array>
					<integer>1878</integer>
					<integer>849</integer>
				</array>
				<array>
					<integer>1895</integer>
					<integer>842</integer>
				</array>
				<array>
					<integer>1929</integer>
					<integer>827</integer>
				</array>
				<array>
					<integer>1973</integer>
					<integer>811</integer>
				</array>
				<array>
					<integer>2028</integer>
					<integer>803</integer>
				</array>
				<array>
					<integer>2075</integer>
					<integer>796</integer>
				</array>
				<array>
					<integer>2118</integer>
					<integer>780</integer>
				</array>
				<array>
					<integer>2159</integer>
					<integer>751</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1871</integer>
					<integer>728</integer>
				</array>
				<array>
					<integer>1889</integer>
					<integer>726</integer>
				</array>
				<array>
					<integer>1900</integer>
					<integer>716</integer>
				</array>
				<array>
					<integer>1913</integer>
					<integer>712</integer>
				</array>
				<array>
					<integer>1926</integer>
					<integer>705</integer>
				</array>
				<array>
					<integer>1939</integer>
					<integer>692</integer>
				</array>
				<array>
					<integer>1954</integer>
					<integer>678</integer>
				</array>
				<array>
					<integer>1970</integer>
					<integer>663</integer>
				</array>
				<array>
					<integer>1987</integer>
					<integer>639</integer>
				</array>
				<array>
					<integer>1995</integer>
					<integer>616</integer>
				</array>
				<array>
					<integer>2001</integer>
					<integer>597</integer>
				</array>
				<array>
					<integer>2002</integer>
					<integer>573</integer>
				</array>
				<array>
					<integer>2000</integer>
					<integer>543</integer>
				</array>
				<array>
					<integer>1995</integer>
					<integer>513</integer>
				</array>
				<array>
					<integer>1979</integer>
					<integer>488</integer>
				</array>
				<array>
					<integer>1959</integer>
					<integer>471</integer>
				</array>
				<array>
					<integer>1935</integer>
					<integer>461</integer>
				</array>
				<array>
					<integer>1914</integer>
					<integer>453</integer>
				</array>
				<array>
					<integer>1892</integer>
					<integer>440</integer>
				</array>
				<array>
					<integer>1859</integer>
					<integer>434</integer>
				</array>
				<array>
					<integer>1823</integer>
					<integer>433</integer>
				</array>
				<array>
					<integer>1782</integer>
					<integer>438</integer>
				</array>
				<array>
					<integer>1754</integer>
					<integer>443</integer>
				</array>
				<array>
					<integer>1715</integer>
					<integer>438</integer>
				</array>
				<array>
					<integer>1687</integer>
					<integer>431</integer>
				</array>
				<array>
					<integer>1663</integer>
					<integer>433</integer>
				</array>
				<array>
					<integer>1645</integer>
					<integer>440</integer>
				</array>
				<array>
					<integer>1611</integer>
					<integer>467</integer>
				</array>
				<array>
					<integer>1599</integer>
					<integer>492</integer>
				</array>
				<array>
					<integer>1591</integer>
					<integer>532</integer>
				</array>
				<array>
					<integer>1596</integer>
					<integer>569</integer>
				</array>
				<array>
					<integer>1610</integer>
					<integer>595</integer>
				</array>
				<array>
					<integer>1642</integer>
					<integer>604</integer>
				</array>
				<array>
					<integer>1676</integer>
					<integer>611</integer>
				</array>
				<array>
					<integer>1700</integer>
					<integer>624</integer>
				</array>
				<array>
					<integer>1732</integer>
					<integer>643</integer>
				</array>
				<array>
					<integer>1765</integer>
					<integer>656</integer>
				</array>
				<array>
					<integer>1793</integer>
					<integer>669</integer>
				</array>
				<array>
					<integer>1826</integer>
					<integer>691</integer>
				</array>
				<array>
					<integer>1846</integer>
					<integer>705</integer>
				</array>
				<array>
					<integer>1857</integer>
					<integer>721</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1120</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>1128</integer>
					<integer>6</integer>
				</array>
				<array>
					<integer>1163</integer>
					<integer>19</integer>
				</array>
				<array>
					<integer>1171</integer>
					<integer>18</integer>
				</array>
				<array>
					<integer>1179</integer>
					<integer>26</integer>
				</array>
				<array>
					<integer>1209</integer>
					<integer>38</integer>
				</array>
				<array>
					<integer>1239</integer>
					<integer>54</integer>
				</array>
				<array>
					<integer>1249</integer>
					<integer>60</integer>
				</array>
				<array>
					<integer>1285</integer>
					<integer>85</integer>
				</array>
				<array>
					<integer>1313</integer>
					<integer>110</integer>
				</array>
				<array>
					<integer>1345</integer>
					<integer>135</integer>
				</array>
				<array>
					<integer>1386</integer>
					<integer>162</integer>
				</array>
				<array>
					<integer>1425</integer>
					<integer>183</integer>
				</array>
				<array>
					<integer>1467</integer>
					<integer>200</integer>
				</array>
				<array>
					<integer>1514</integer>
					<integer>210</integer>
				</array>
				<array>
					<integer>1566</integer>
					<integer>211</integer>
				</array>
				<array>
					<integer>1628</integer>
					<integer>203</integer>
				</array>
				<array>
					<integer>1672</integer>
					<integer>177</integer>
				</array>
				<array>
					<integer>1709</integer>
					<integer>156</integer>
				</array>
				<array>
					<integer>1742</integer>
					<integer>133</integer>
				</array>
				<array>
					<integer>1773</integer>
					<integer>105</integer>
				</array>
				<array>
					<integer>1804</integer>
					<integer>81</integer>
				</array>
				<array>
					<integer>1844</integer>
					<integer>59</integer>
				</array>
				<array>
					<integer>1886</integer>
					<integer>51</integer>
				</array>
				<array>
					<integer>1915</integer>
					<integer>44</integer>
				</array>
				<array>
					<integer>1955</integer>
					<integer>33</integer>
				</array>
				<array>
					<integer>1996</integer>
					<integer>24</integer>
				</array>
				<array>
					<integer>2028</integer>
					<integer>18</integer>
				</array>
				<array>
					<integer>2055</integer>
					<integer>9</integer>
				</array>
				<array>
					<integer>2062</integer>
					<integer>1</integer>
				</array>
				<array>
					<integer>2062</integer>
					<integer>0</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>cutlass_careen_terrain</string>
		<key>waterImage</key>
		<string>cutlass_careen_water</string>
	</dict>
</dict>
</plist>
