<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficulty</key>
	<integer>18</integer>
	<key>entities</key>
	<dict>
		<key>boulders</key>
		<integer>8</integer>
		<key>whirlpoolPeriod</key>
		<integer>15</integer>
	</dict>
	<key>name</key>
	<string>Fire In The Hole!</string>
	<key>number</key>
	<integer>5</integer>
	<key>port</key>
	<dict>
		<key>position</key>
		<dict>
			<key>angle</key>
			<real>3.926990816987241</real>
			<key>x</key>
			<integer>1923</integer>
			<key>y</key>
			<integer>1798</integer>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>4320</integer>
		<key>width</key>
		<integer>4320</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>4080</integer>
		<key>y</key>
		<integer>3080</integer>
	</dict>
	<key>spawnVolumes</key>
	<array>
		<dict>
			<key>maxx</key>
			<integer>4320</integer>
			<key>maxy</key>
			<integer>-10</integer>
			<key>minx</key>
			<integer>864</integer>
			<key>miny</key>
			<integer>-200</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>4520</integer>
			<key>maxy</key>
			<integer>1080</integer>
			<key>minx</key>
			<integer>4330</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>4520</integer>
			<key>maxy</key>
			<integer>3456</integer>
			<key>minx</key>
			<integer>4330</integer>
			<key>miny</key>
			<integer>2592</integer>
		</dict>
	</array>
	<key>landSpawnPoints</key>
	<array/>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>330</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>346</integer>
					<integer>24</integer>
				</array>
				<array>
					<integer>365</integer>
					<integer>65</integer>
				</array>
				<array>
					<integer>376</integer>
					<integer>100</integer>
				</array>
				<array>
					<integer>373</integer>
					<integer>131</integer>
				</array>
				<array>
					<integer>363</integer>
					<integer>157</integer>
				</array>
				<array>
					<integer>358</integer>
					<integer>165</integer>
				</array>
				<array>
					<integer>385</integer>
					<integer>191</integer>
				</array>
				<array>
					<integer>416</integer>
					<integer>225</integer>
				</array>
				<array>
					<integer>460</integer>
					<integer>284</integer>
				</array>
				<array>
					<integer>474</integer>
					<integer>350</integer>
				</array>
				<array>
					<integer>478</integer>
					<integer>391</integer>
				</array>
				<array>
					<integer>470</integer>
					<integer>424</integer>
				</array>
				<array>
					<integer>458</integer>
					<integer>448</integer>
				</array>
				<array>
					<integer>441</integer>
					<integer>470</integer>
				</array>
				<array>
					<integer>461</integer>
					<integer>517</integer>
				</array>
				<array>
					<integer>472</integer>
					<integer>556</integer>
				</array>
				<array>
					<integer>460</integer>
					<integer>605</integer>
				</array>
				<array>
					<integer>438</integer>
					<integer>643</integer>
				</array>
				<array>
					<integer>408</integer>
					<integer>673</integer>
				</array>
				<array>
					<integer>393</integer>
					<integer>693</integer>
				</array>
				<array>
					<integer>373</integer>
					<integer>725</integer>
				</array>
				<array>
					<integer>341</integer>
					<integer>741</integer>
				</array>
				<array>
					<integer>320</integer>
					<integer>745</integer>
				</array>
				<array>
					<integer>299</integer>
					<integer>773</integer>
				</array>
				<array>
					<integer>281</integer>
					<integer>828</integer>
				</array>
				<array>
					<integer>267</integer>
					<integer>868</integer>
				</array>
				<array>
					<integer>276</integer>
					<integer>934</integer>
				</array>
				<array>
					<integer>312</integer>
					<integer>965</integer>
				</array>
				<array>
					<integer>333</integer>
					<integer>990</integer>
				</array>
				<array>
					<integer>351</integer>
					<integer>1027</integer>
				</array>
				<array>
					<integer>351</integer>
					<integer>1059</integer>
				</array>
				<array>
					<integer>338</integer>
					<integer>1083</integer>
				</array>
				<array>
					<integer>316</integer>
					<integer>1104</integer>
				</array>
				<array>
					<integer>285</integer>
					<integer>1121</integer>
				</array>
				<array>
					<integer>271</integer>
					<integer>1135</integer>
				</array>
				<array>
					<integer>271</integer>
					<integer>1159</integer>
				</array>
				<array>
					<integer>277</integer>
					<integer>1178</integer>
				</array>
				<array>
					<integer>292</integer>
					<integer>1194</integer>
				</array>
				<array>
					<integer>300</integer>
					<integer>1204</integer>
				</array>
				<array>
					<integer>311</integer>
					<integer>1226</integer>
				</array>
				<array>
					<integer>322</integer>
					<integer>1260</integer>
				</array>
				<array>
					<integer>326</integer>
					<integer>1275</integer>
				</array>
				<array>
					<integer>323</integer>
					<integer>1293</integer>
				</array>
				<array>
					<integer>323</integer>
					<integer>1320</integer>
				</array>
				<array>
					<integer>326</integer>
					<integer>1356</integer>
				</array>
				<array>
					<integer>325</integer>
					<integer>1388</integer>
				</array>
				<array>
					<integer>321</integer>
					<integer>1407</integer>
				</array>
				<array>
					<integer>313</integer>
					<integer>1424</integer>
				</array>
				<array>
					<integer>303</integer>
					<integer>1473</integer>
				</array>
				<array>
					<integer>293</integer>
					<integer>1544</integer>
				</array>
				<array>
					<integer>317</integer>
					<integer>1588</integer>
				</array>
				<array>
					<integer>333</integer>
					<integer>1636</integer>
				</array>
				<array>
					<integer>330</integer>
					<integer>1671</integer>
				</array>
				<array>
					<integer>319</integer>
					<integer>1698</integer>
				</array>
				<array>
					<integer>321</integer>
					<integer>1728</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>1764</integer>
				</array>
				<array>
					<integer>343</integer>
					<integer>1779</integer>
				</array>
				<array>
					<integer>375</integer>
					<integer>1808</integer>
				</array>
				<array>
					<integer>401</integer>
					<integer>1838</integer>
				</array>
				<array>
					<integer>440</integer>
					<integer>1852</integer>
				</array>
				<array>
					<integer>478</integer>
					<integer>1869</integer>
				</array>
				<array>
					<integer>507</integer>
					<integer>1893</integer>
				</array>
				<array>
					<integer>519</integer>
					<integer>1925</integer>
				</array>
				<array>
					<integer>517</integer>
					<integer>1943</integer>
				</array>
				<array>
					<integer>510</integer>
					<integer>1965</integer>
				</array>
				<array>
					<integer>513</integer>
					<integer>1973</integer>
				</array>
				<array>
					<integer>535</integer>
					<integer>1971</integer>
				</array>
				<array>
					<integer>577</integer>
					<integer>1974</integer>
				</array>
				<array>
					<integer>621</integer>
					<integer>1982</integer>
				</array>
				<array>
					<integer>651</integer>
					<integer>1995</integer>
				</array>
				<array>
					<integer>669</integer>
					<integer>2008</integer>
				</array>
				<array>
					<integer>679</integer>
					<integer>2010</integer>
				</array>
				<array>
					<integer>705</integer>
					<integer>2006</integer>
				</array>
				<array>
					<integer>740</integer>
					<integer>2003</integer>
				</array>
				<array>
					<integer>772</integer>
					<integer>2006</integer>
				</array>
				<array>
					<integer>801</integer>
					<integer>2018</integer>
				</array>
				<array>
					<integer>826</integer>
					<integer>2031</integer>
				</array>
				<array>
					<integer>890</integer>
					<integer>2020</integer>
				</array>
				<array>
					<integer>924</integer>
					<integer>2015</integer>
				</array>
				<array>
					<integer>941</integer>
					<integer>2011</integer>
				</array>
				<array>
					<integer>960</integer>
					<integer>2013</integer>
				</array>
				<array>
					<integer>982</integer>
					<integer>2024</integer>
				</array>
				<array>
					<integer>999</integer>
					<integer>2033</integer>
				</array>
				<array>
					<integer>1025</integer>
					<integer>2033</integer>
				</array>
				<array>
					<integer>1050</integer>
					<integer>2033</integer>
				</array>
				<array>
					<integer>1086</integer>
					<integer>2025</integer>
				</array>
				<array>
					<integer>1122</integer>
					<integer>2019</integer>
				</array>
				<array>
					<integer>1165</integer>
					<integer>2011</integer>
				</array>
				<array>
					<integer>1194</integer>
					<integer>2003</integer>
				</array>
				<array>
					<integer>1232</integer>
					<integer>1996</integer>
				</array>
				<array>
					<integer>1269</integer>
					<integer>1991</integer>
				</array>
				<array>
					<integer>1299</integer>
					<integer>1995</integer>
				</array>
				<array>
					<integer>1327</integer>
					<integer>2005</integer>
				</array>
				<array>
					<integer>1356</integer>
					<integer>2024</integer>
				</array>
				<array>
					<integer>1381</integer>
					<integer>2031</integer>
				</array>
				<array>
					<integer>1407</integer>
					<integer>2026</integer>
				</array>
				<array>
					<integer>1441</integer>
					<integer>2025</integer>
				</array>
				<array>
					<integer>1451</integer>
					<integer>2021</integer>
				</array>
				<array>
					<integer>1487</integer>
					<integer>2024</integer>
				</array>
				<array>
					<integer>1521</integer>
					<integer>2025</integer>
				</array>
				<array>
					<integer>1563</integer>
					<integer>2031</integer>
				</array>
				<array>
					<integer>1593</integer>
					<integer>2034</integer>
				</array>
				<array>
					<integer>1642</integer>
					<integer>2036</integer>
				</array>
				<array>
					<integer>1672</integer>
					<integer>2038</integer>
				</array>
				<array>
					<integer>1709</integer>
					<integer>2031</integer>
				</array>
				<array>
					<integer>1736</integer>
					<integer>2015</integer>
				</array>
				<array>
					<integer>1766</integer>
					<integer>1996</integer>
				</array>
				<array>
					<integer>1786</integer>
					<integer>1980</integer>
				</array>
				<array>
					<integer>1806</integer>
					<integer>1950</integer>
				</array>
				<array>
					<integer>1831</integer>
					<integer>1911</integer>
				</array>
				<array>
					<integer>1853</integer>
					<integer>1870</integer>
				</array>
				<array>
					<integer>1876</integer>
					<integer>1829</integer>
				</array>
				<array>
					<integer>1891</integer>
					<integer>1802</integer>
				</array>
				<array>
					<integer>1903</integer>
					<integer>1780</integer>
				</array>
				<array>
					<integer>1922</integer>
					<integer>1761</integer>
				</array>
				<array>
					<integer>1955</integer>
					<integer>1738</integer>
				</array>
				<array>
					<integer>1995</integer>
					<integer>1726</integer>
				</array>
				<array>
					<integer>2038</integer>
					<integer>1716</integer>
				</array>
				<array>
					<integer>2072</integer>
					<integer>1715</integer>
				</array>
				<array>
					<integer>2115</integer>
					<integer>1715</integer>
				</array>
				<array>
					<integer>2147</integer>
					<integer>1714</integer>
				</array>
				<array>
					<integer>2158</integer>
					<integer>1721</integer>
				</array>
				<array>
					<integer>2159</integer>
					<integer>2160</integer>
				</array>
				<array>
					<integer>0</integer>
					<real>2160</real>
				</array>
			</array>
			<array>
				<array>
					<integer>2159</integer>
					<integer>1235</integer>
				</array>
				<array>
					<integer>2148</integer>
					<integer>1241</integer>
				</array>
				<array>
					<integer>2128</integer>
					<integer>1243</integer>
				</array>
				<array>
					<integer>2085</integer>
					<integer>1243</integer>
				</array>
				<array>
					<integer>2048</integer>
					<integer>1245</integer>
				</array>
				<array>
					<integer>2021</integer>
					<integer>1243</integer>
				</array>
				<array>
					<integer>1998</integer>
					<integer>1235</integer>
				</array>
				<array>
					<integer>1985</integer>
					<integer>1221</integer>
				</array>
				<array>
					<integer>1976</integer>
					<integer>1205</integer>
				</array>
				<array>
					<integer>1974</integer>
					<integer>1184</integer>
				</array>
				<array>
					<integer>1978</integer>
					<integer>1167</integer>
				</array>
				<array>
					<integer>1986</integer>
					<integer>1152</integer>
				</array>
				<array>
					<integer>1997</integer>
					<integer>1144</integer>
				</array>
				<array>
					<integer>2010</integer>
					<integer>1136</integer>
				</array>
				<array>
					<integer>2022</integer>
					<integer>1133</integer>
				</array>
				<array>
					<integer>2029</integer>
					<integer>1131</integer>
				</array>
				<array>
					<integer>2029</integer>
					<integer>1124</integer>
				</array>
				<array>
					<integer>2031</integer>
					<integer>1113</integer>
				</array>
				<array>
					<integer>2036</integer>
					<integer>1100</integer>
				</array>
				<array>
					<integer>2041</integer>
					<integer>1090</integer>
				</array>
				<array>
					<integer>2047</integer>
					<integer>1077</integer>
				</array>
				<array>
					<integer>2051</integer>
					<integer>1063</integer>
				</array>
				<array>
					<integer>2057</integer>
					<integer>1048</integer>
				</array>
				<array>
					<integer>2061</integer>
					<integer>1021</integer>
				</array>
				<array>
					<integer>2065</integer>
					<integer>998</integer>
				</array>
				<array>
					<integer>2070</integer>
					<integer>975</integer>
				</array>
				<array>
					<integer>2075</integer>
					<integer>957</integer>
				</array>
				<array>
					<integer>2078</integer>
					<integer>939</integer>
				</array>
				<array>
					<integer>2080</integer>
					<integer>920</integer>
				</array>
				<array>
					<integer>2081</integer>
					<integer>901</integer>
				</array>
				<array>
					<integer>2077</integer>
					<integer>882</integer>
				</array>
				<array>
					<integer>2066</integer>
					<integer>863</integer>
				</array>
				<array>
					<integer>2055</integer>
					<integer>840</integer>
				</array>
				<array>
					<integer>2048</integer>
					<integer>818</integer>
				</array>
				<array>
					<integer>2041</integer>
					<integer>793</integer>
				</array>
				<array>
					<integer>2036</integer>
					<integer>767</integer>
				</array>
				<array>
					<integer>2034</integer>
					<integer>745</integer>
				</array>
				<array>
					<integer>2036</integer>
					<integer>721</integer>
				</array>
				<array>
					<integer>2043</integer>
					<integer>701</integer>
				</array>
				<array>
					<integer>2051</integer>
					<integer>688</integer>
				</array>
				<array>
					<integer>2065</integer>
					<integer>671</integer>
				</array>
				<array>
					<integer>2078</integer>
					<integer>658</integer>
				</array>
				<array>
					<integer>2104</integer>
					<integer>641</integer>
				</array>
				<array>
					<integer>2135</integer>
					<integer>629</integer>
				</array>
				<array>
					<integer>2159</integer>
					<integer>624</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1820</integer>
					<integer>1211</integer>
				</array>
				<array>
					<integer>1810</integer>
					<integer>1203</integer>
				</array>
				<array>
					<integer>1800</integer>
					<integer>1196</integer>
				</array>
				<array>
					<integer>1794</integer>
					<integer>1182</integer>
				</array>
				<array>
					<integer>1797</integer>
					<integer>1165</integer>
				</array>
				<array>
					<integer>1808</integer>
					<integer>1153</integer>
				</array>
				<array>
					<integer>1819</integer>
					<integer>1144</integer>
				</array>
				<array>
					<integer>1838</integer>
					<integer>1139</integer>
				</array>
				<array>
					<integer>1857</integer>
					<integer>1142</integer>
				</array>
				<array>
					<integer>1868</integer>
					<integer>1150</integer>
				</array>
				<array>
					<integer>1874</integer>
					<integer>1163</integer>
				</array>
				<array>
					<integer>1874</integer>
					<integer>1180</integer>
				</array>
				<array>
					<integer>1871</integer>
					<integer>1194</integer>
				</array>
				<array>
					<integer>1862</integer>
					<integer>1206</integer>
				</array>
				<array>
					<integer>1841</integer>
					<integer>1213</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1918</integer>
					<integer>1288</integer>
				</array>
				<array>
					<integer>1946</integer>
					<integer>1288</integer>
				</array>
				<array>
					<integer>1958</integer>
					<integer>1299</integer>
				</array>
				<array>
					<integer>1963</integer>
					<integer>1315</integer>
				</array>
				<array>
					<integer>1960</integer>
					<integer>1333</integer>
				</array>
				<array>
					<integer>1948</integer>
					<integer>1345</integer>
				</array>
				<array>
					<integer>1934</integer>
					<integer>1350</integer>
				</array>
				<array>
					<integer>1920</integer>
					<integer>1347</integer>
				</array>
				<array>
					<integer>1906</integer>
					<integer>1336</integer>
				</array>
				<array>
					<integer>1896</integer>
					<integer>1323</integer>
				</array>
				<array>
					<integer>1897</integer>
					<integer>1308</integer>
				</array>
				<array>
					<integer>1903</integer>
					<integer>1298</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>fire_in_the_hole_terrain</string>
		<key>waterImage</key>
		<string>fire_in_the_hole_water</string>
	</dict>
	<key>waves</key>
	<array>
		<dict>
			<key>enemies</key>
			<array>
				<dict>
					<key>enemy</key>
					<string>Pirate</string>
					<key>count</key>
					<integer>1</integer>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>enemies</key>
			<array>
				<dict>
					<key>enemy</key>
					<string>Pirate</string>
					<key>count</key>
					<integer>2</integer>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>enemies</key>
			<array>
				<dict>
					<key>enemy</key>
					<string>Pirate</string>
					<key>count</key>
					<integer>3</integer>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>enemies</key>
			<array>
				<dict>
					<key>enemy</key>
					<string>Marooner</string>
					<key>count</key>
					<integer>3</integer>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>enemy</key>
					<string>Pirate</string>
					<key>count</key>
					<integer>8</integer>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
