<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<dict>
		<key>boulders</key>
		<integer>0</integer>
		<key>whirlpoolLocations</key>
		<array/>
		<key>whirlpools</key>
		<integer>0</integer>
	</dict>
	<key>name</key>
	<string>Dead Men Tell No Tales</string>
	<key>port</key>
	<dict>
		<key>inventory</key>
		<array/>
		<key>position</key>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>2450</integer>
		<key>width</key>
		<integer>3360</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>1080</integer>
		<key>y</key>
		<integer>1080</integer>
	</dict>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>0</integer>
					<integer>1225</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>1001</integer>
				</array>
				<array>
					<integer>1</integer>
					<integer>999</integer>
				</array>
				<array>
					<integer>8</integer>
					<integer>991</integer>
				</array>
				<array>
					<integer>17</integer>
					<integer>985</integer>
				</array>
				<array>
					<integer>25</integer>
					<integer>976</integer>
				</array>
				<array>
					<integer>41</integer>
					<integer>971</integer>
				</array>
				<array>
					<integer>62</integer>
					<integer>967</integer>
				</array>
				<array>
					<integer>80</integer>
					<integer>965</integer>
				</array>
				<array>
					<integer>85</integer>
					<integer>950</integer>
				</array>
				<array>
					<integer>93</integer>
					<integer>942</integer>
				</array>
				<array>
					<integer>104</integer>
					<integer>935</integer>
				</array>
				<array>
					<integer>125</integer>
					<integer>930</integer>
				</array>
				<array>
					<integer>145</integer>
					<integer>927</integer>
				</array>
				<array>
					<integer>169</integer>
					<integer>925</integer>
				</array>
				<array>
					<integer>179</integer>
					<integer>926</integer>
				</array>
				<array>
					<integer>197</integer>
					<integer>926</integer>
				</array>
				<array>
					<integer>201</integer>
					<integer>930</integer>
				</array>
				<array>
					<integer>208</integer>
					<integer>924</integer>
				</array>
				<array>
					<integer>216</integer>
					<integer>923</integer>
				</array>
				<array>
					<integer>225</integer>
					<integer>923</integer>
				</array>
				<array>
					<integer>241</integer>
					<integer>917</integer>
				</array>
				<array>
					<integer>261</integer>
					<integer>913</integer>
				</array>
				<array>
					<integer>279</integer>
					<integer>907</integer>
				</array>
				<array>
					<integer>284</integer>
					<integer>903</integer>
				</array>
				<array>
					<integer>301</integer>
					<integer>901</integer>
				</array>
				<array>
					<integer>321</integer>
					<integer>901</integer>
				</array>
				<array>
					<integer>345</integer>
					<integer>901</integer>
				</array>
				<array>
					<integer>354</integer>
					<integer>903</integer>
				</array>
				<array>
					<integer>384</integer>
					<integer>902</integer>
				</array>
				<array>
					<integer>396</integer>
					<integer>886</integer>
				</array>
				<array>
					<integer>409</integer>
					<integer>881</integer>
				</array>
				<array>
					<integer>421</integer>
					<integer>880</integer>
				</array>
				<array>
					<integer>433</integer>
					<integer>882</integer>
				</array>
				<array>
					<integer>442</integer>
					<integer>885</integer>
				</array>
				<array>
					<integer>459</integer>
					<integer>887</integer>
				</array>
				<array>
					<integer>480</integer>
					<integer>888</integer>
				</array>
				<array>
					<integer>496</integer>
					<integer>881</integer>
				</array>
				<array>
					<integer>515</integer>
					<integer>873</integer>
				</array>
				<array>
					<integer>533</integer>
					<integer>871</integer>
				</array>
				<array>
					<integer>558</integer>
					<integer>872</integer>
				</array>
				<array>
					<integer>581</integer>
					<integer>871</integer>
				</array>
				<array>
					<integer>611</integer>
					<integer>877</integer>
				</array>
				<array>
					<integer>618</integer>
					<integer>871</integer>
				</array>
				<array>
					<integer>626</integer>
					<integer>866</integer>
				</array>
				<array>
					<integer>634</integer>
					<integer>864</integer>
				</array>
				<array>
					<integer>649</integer>
					<integer>863</integer>
				</array>
				<array>
					<integer>666</integer>
					<integer>868</integer>
				</array>
				<array>
					<integer>680</integer>
					<integer>872</integer>
				</array>
				<array>
					<integer>698</integer>
					<integer>873</integer>
				</array>
				<array>
					<integer>715</integer>
					<integer>873</integer>
				</array>
				<array>
					<integer>733</integer>
					<integer>873</integer>
				</array>
				<array>
					<integer>750</integer>
					<integer>871</integer>
				</array>
				<array>
					<integer>771</integer>
					<integer>872</integer>
				</array>
				<array>
					<integer>792</integer>
					<integer>872</integer>
				</array>
				<array>
					<integer>816</integer>
					<integer>867</integer>
				</array>
				<array>
					<integer>841</integer>
					<integer>863</integer>
				</array>
				<array>
					<integer>876</integer>
					<integer>863</integer>
				</array>
				<array>
					<integer>908</integer>
					<integer>861</integer>
				</array>
				<array>
					<integer>931</integer>
					<integer>867</integer>
				</array>
				<array>
					<integer>949</integer>
					<integer>881</integer>
				</array>
				<array>
					<integer>965</integer>
					<integer>889</integer>
				</array>
				<array>
					<integer>999</integer>
					<integer>886</integer>
				</array>
				<array>
					<integer>1018</integer>
					<integer>891</integer>
				</array>
				<array>
					<integer>1046</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>1068</integer>
					<integer>898</integer>
				</array>
				<array>
					<integer>1089</integer>
					<integer>899</integer>
				</array>
				<array>
					<integer>1131</integer>
					<integer>901</integer>
				</array>
				<array>
					<integer>1148</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>1158</integer>
					<integer>901</integer>
				</array>
				<array>
					<integer>1175</integer>
					<integer>904</integer>
				</array>
				<array>
					<integer>1217</integer>
					<integer>935</integer>
				</array>
				<array>
					<integer>1233</integer>
					<integer>933</integer>
				</array>
				<array>
					<integer>1261</integer>
					<integer>932</integer>
				</array>
				<array>
					<integer>1283</integer>
					<integer>937</integer>
				</array>
				<array>
					<integer>1340</integer>
					<integer>949</integer>
				</array>
				<array>
					<integer>1351</integer>
					<integer>955</integer>
				</array>
				<array>
					<integer>1365</integer>
					<integer>971</integer>
				</array>
				<array>
					<integer>1391</integer>
					<integer>976</integer>
				</array>
				<array>
					<integer>1424</integer>
					<integer>979</integer>
				</array>
				<array>
					<integer>1452</integer>
					<integer>988</integer>
				</array>
				<array>
					<integer>1476</integer>
					<integer>1001</integer>
				</array>
				<array>
					<integer>1506</integer>
					<integer>1014</integer>
				</array>
				<array>
					<integer>1538</integer>
					<integer>1017</integer>
				</array>
				<array>
					<integer>1573</integer>
					<integer>1023</integer>
				</array>
				<array>
					<integer>1613</integer>
					<integer>1040</integer>
				</array>
				<array>
					<integer>1631</integer>
					<integer>1062</integer>
				</array>
				<array>
					<integer>1654</integer>
					<integer>1085</integer>
				</array>
				<array>
					<integer>1678</integer>
					<integer>1108</integer>
				</array>
				<array>
					<integer>1679</integer>
					<integer>1224</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>75</integer>
					<integer>748</integer>
				</array>
				<array>
					<integer>126</integer>
					<integer>755</integer>
				</array>
				<array>
					<integer>171</integer>
					<integer>762</integer>
				</array>
				<array>
					<integer>199</integer>
					<integer>751</integer>
				</array>
				<array>
					<integer>220</integer>
					<integer>750</integer>
				</array>
				<array>
					<integer>240</integer>
					<integer>746</integer>
				</array>
				<array>
					<integer>248</integer>
					<integer>748</integer>
				</array>
				<array>
					<integer>289</integer>
					<integer>733</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>726</integer>
				</array>
				<array>
					<integer>351</integer>
					<integer>723</integer>
				</array>
				<array>
					<integer>365</integer>
					<integer>719</integer>
				</array>
				<array>
					<integer>398</integer>
					<integer>717</integer>
				</array>
				<array>
					<integer>432</integer>
					<integer>720</integer>
				</array>
				<array>
					<integer>466</integer>
					<integer>723</integer>
				</array>
				<array>
					<integer>493</integer>
					<integer>725</integer>
				</array>
				<array>
					<integer>523</integer>
					<integer>720</integer>
				</array>
				<array>
					<integer>558</integer>
					<integer>713</integer>
				</array>
				<array>
					<integer>592</integer>
					<integer>701</integer>
				</array>
				<array>
					<integer>608</integer>
					<integer>685</integer>
				</array>
				<array>
					<integer>612</integer>
					<integer>672</integer>
				</array>
				<array>
					<integer>621</integer>
					<integer>658</integer>
				</array>
				<array>
					<integer>625</integer>
					<integer>640</integer>
				</array>
				<array>
					<integer>621</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>610</integer>
					<integer>606</integer>
				</array>
				<array>
					<integer>598</integer>
					<integer>594</integer>
				</array>
				<array>
					<integer>570</integer>
					<integer>590</integer>
				</array>
				<array>
					<integer>545</integer>
					<integer>591</integer>
				</array>
				<array>
					<integer>525</integer>
					<integer>596</integer>
				</array>
				<array>
					<integer>511</integer>
					<integer>603</integer>
				</array>
				<array>
					<integer>502</integer>
					<integer>609</integer>
				</array>
				<array>
					<integer>491</integer>
					<integer>605</integer>
				</array>
				<array>
					<integer>474</integer>
					<integer>600</integer>
				</array>
				<array>
					<integer>436</integer>
					<integer>602</integer>
				</array>
				<array>
					<integer>404</integer>
					<integer>610</integer>
				</array>
				<array>
					<integer>381</integer>
					<integer>613</integer>
				</array>
				<array>
					<integer>341</integer>
					<integer>615</integer>
				</array>
				<array>
					<integer>291</integer>
					<integer>615</integer>
				</array>
				<array>
					<integer>253</integer>
					<integer>613</integer>
				</array>
				<array>
					<integer>221</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>206</integer>
					<integer>630</integer>
				</array>
				<array>
					<integer>170</integer>
					<integer>628</integer>
				</array>
				<array>
					<integer>135</integer>
					<integer>633</integer>
				</array>
				<array>
					<integer>113</integer>
					<integer>638</integer>
				</array>
				<array>
					<integer>101</integer>
					<integer>647</integer>
				</array>
				<array>
					<integer>86</integer>
					<integer>669</integer>
				</array>
				<array>
					<integer>84</integer>
					<integer>668</integer>
				</array>
				<array>
					<integer>70</integer>
					<integer>697</integer>
				</array>
				<array>
					<integer>62</integer>
					<integer>713</integer>
				</array>
				<array>
					<integer>60</integer>
					<integer>723</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>993</integer>
					<integer>761</integer>
				</array>
				<array>
					<integer>1039</integer>
					<integer>785</integer>
				</array>
				<array>
					<integer>1063</integer>
					<integer>793</integer>
				</array>
				<array>
					<integer>1081</integer>
					<integer>797</integer>
				</array>
				<array>
					<integer>1109</integer>
					<integer>798</integer>
				</array>
				<array>
					<integer>1128</integer>
					<integer>797</integer>
				</array>
				<array>
					<integer>1155</integer>
					<integer>798</integer>
				</array>
				<array>
					<integer>1190</integer>
					<integer>801</integer>
				</array>
				<array>
					<integer>1211</integer>
					<integer>804</integer>
				</array>
				<array>
					<integer>1231</integer>
					<integer>807</integer>
				</array>
				<array>
					<integer>1258</integer>
					<integer>809</integer>
				</array>
				<array>
					<integer>1273</integer>
					<integer>808</integer>
				</array>
				<array>
					<integer>1308</integer>
					<integer>814</integer>
				</array>
				<array>
					<integer>1329</integer>
					<integer>823</integer>
				</array>
				<array>
					<integer>1365</integer>
					<integer>831</integer>
				</array>
				<array>
					<integer>1398</integer>
					<integer>837</integer>
				</array>
				<array>
					<integer>1408</integer>
					<integer>837</integer>
				</array>
				<array>
					<integer>1425</integer>
					<integer>843</integer>
				</array>
				<array>
					<integer>1431</integer>
					<integer>843</integer>
				</array>
				<array>
					<integer>1453</integer>
					<integer>843</integer>
				</array>
				<array>
					<integer>1468</integer>
					<integer>851</integer>
				</array>
				<array>
					<integer>1516</integer>
					<integer>886</integer>
				</array>
				<array>
					<integer>1531</integer>
					<integer>885</integer>
				</array>
				<array>
					<integer>1560</integer>
					<integer>876</integer>
				</array>
				<array>
					<integer>1564</integer>
					<integer>872</integer>
				</array>
				<array>
					<integer>1564</integer>
					<integer>865</integer>
				</array>
				<array>
					<integer>1565</integer>
					<integer>853</integer>
				</array>
				<array>
					<integer>1565</integer>
					<integer>840</integer>
				</array>
				<array>
					<integer>1568</integer>
					<integer>823</integer>
				</array>
				<array>
					<integer>1563</integer>
					<integer>812</integer>
				</array>
				<array>
					<integer>1547</integer>
					<integer>802</integer>
				</array>
				<array>
					<integer>1533</integer>
					<integer>787</integer>
				</array>
				<array>
					<integer>1520</integer>
					<integer>768</integer>
				</array>
				<array>
					<integer>1515</integer>
					<integer>753</integer>
				</array>
				<array>
					<integer>1498</integer>
					<integer>745</integer>
				</array>
				<array>
					<integer>1473</integer>
					<integer>738</integer>
				</array>
				<array>
					<integer>1452</integer>
					<integer>730</integer>
				</array>
				<array>
					<integer>1435</integer>
					<integer>722</integer>
				</array>
				<array>
					<integer>1408</integer>
					<integer>709</integer>
				</array>
				<array>
					<integer>1384</integer>
					<integer>700</integer>
				</array>
				<array>
					<integer>1350</integer>
					<integer>695</integer>
				</array>
				<array>
					<integer>1328</integer>
					<integer>696</integer>
				</array>
				<array>
					<integer>1308</integer>
					<integer>696</integer>
				</array>
				<array>
					<integer>1277</integer>
					<integer>692</integer>
				</array>
				<array>
					<integer>1241</integer>
					<integer>685</integer>
				</array>
				<array>
					<integer>1208</integer>
					<integer>685</integer>
				</array>
				<array>
					<integer>1184</integer>
					<integer>683</integer>
				</array>
				<array>
					<integer>1145</integer>
					<integer>675</integer>
				</array>
				<array>
					<integer>1120</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1101</integer>
					<integer>662</integer>
				</array>
				<array>
					<integer>1073</integer>
					<integer>657</integer>
				</array>
				<array>
					<integer>1036</integer>
					<integer>653</integer>
				</array>
				<array>
					<integer>1026</integer>
					<integer>660</integer>
				</array>
				<array>
					<integer>1018</integer>
					<integer>663</integer>
				</array>
				<array>
					<integer>1005</integer>
					<integer>667</integer>
				</array>
				<array>
					<integer>988</integer>
					<integer>679</integer>
				</array>
				<array>
					<integer>974</integer>
					<integer>695</integer>
				</array>
				<array>
					<integer>970</integer>
					<integer>718</integer>
				</array>
				<array>
					<integer>978</integer>
					<integer>734</integer>
				</array>
				<array>
					<integer>986</integer>
					<integer>742</integer>
				</array>
				<array>
					<integer>993</integer>
					<integer>750</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>370</integer>
					<integer>429</integer>
				</array>
				<array>
					<integer>402</integer>
					<integer>448</integer>
				</array>
				<array>
					<integer>422</integer>
					<integer>449</integer>
				</array>
				<array>
					<integer>443</integer>
					<integer>456</integer>
				</array>
				<array>
					<integer>459</integer>
					<integer>456</integer>
				</array>
				<array>
					<integer>481</integer>
					<integer>455</integer>
				</array>
				<array>
					<integer>508</integer>
					<integer>455</integer>
				</array>
				<array>
					<integer>539</integer>
					<integer>451</integer>
				</array>
				<array>
					<integer>557</integer>
					<integer>453</integer>
				</array>
				<array>
					<integer>589</integer>
					<integer>447</integer>
				</array>
				<array>
					<integer>615</integer>
					<integer>446</integer>
				</array>
				<array>
					<integer>645</integer>
					<integer>445</integer>
				</array>
				<array>
					<integer>676</integer>
					<integer>446</integer>
				</array>
				<array>
					<integer>725</integer>
					<integer>448</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>452</integer>
				</array>
				<array>
					<integer>797</integer>
					<integer>456</integer>
				</array>
				<array>
					<integer>852</integer>
					<integer>460</integer>
				</array>
				<array>
					<integer>918</integer>
					<integer>460</integer>
				</array>
				<array>
					<integer>966</integer>
					<integer>463</integer>
				</array>
				<array>
					<integer>1007</integer>
					<integer>466</integer>
				</array>
				<array>
					<integer>1079</integer>
					<integer>480</integer>
				</array>
				<array>
					<integer>1121</integer>
					<integer>485</integer>
				</array>
				<array>
					<integer>1165</integer>
					<integer>496</integer>
				</array>
				<array>
					<integer>1200</integer>
					<integer>508</integer>
				</array>
				<array>
					<integer>1218</integer>
					<integer>514</integer>
				</array>
				<array>
					<integer>1226</integer>
					<integer>510</integer>
				</array>
				<array>
					<integer>1243</integer>
					<integer>513</integer>
				</array>
				<array>
					<integer>1263</integer>
					<integer>512</integer>
				</array>
				<array>
					<integer>1273</integer>
					<integer>497</integer>
				</array>
				<array>
					<integer>1283</integer>
					<integer>481</integer>
				</array>
				<array>
					<integer>1298</integer>
					<integer>471</integer>
				</array>
				<array>
					<integer>1305</integer>
					<integer>466</integer>
				</array>
				<array>
					<integer>1306</integer>
					<integer>458</integer>
				</array>
				<array>
					<integer>1306</integer>
					<integer>443</integer>
				</array>
				<array>
					<integer>1306</integer>
					<integer>427</integer>
				</array>
				<array>
					<integer>1299</integer>
					<integer>411</integer>
				</array>
				<array>
					<integer>1285</integer>
					<integer>395</integer>
				</array>
				<array>
					<integer>1266</integer>
					<integer>385</integer>
				</array>
				<array>
					<integer>1250</integer>
					<integer>376</integer>
				</array>
				<array>
					<integer>1226</integer>
					<integer>366</integer>
				</array>
				<array>
					<integer>1196</integer>
					<integer>359</integer>
				</array>
				<array>
					<integer>1153</integer>
					<integer>350</integer>
				</array>
				<array>
					<integer>1093</integer>
					<integer>336</integer>
				</array>
				<array>
					<integer>1051</integer>
					<integer>329</integer>
				</array>
				<array>
					<integer>1010</integer>
					<integer>320</integer>
				</array>
				<array>
					<integer>975</integer>
					<integer>310</integer>
				</array>
				<array>
					<integer>945</integer>
					<integer>303</integer>
				</array>
				<array>
					<integer>893</integer>
					<integer>300</integer>
				</array>
				<array>
					<integer>875</integer>
					<integer>296</integer>
				</array>
				<array>
					<integer>833</integer>
					<integer>299</integer>
				</array>
				<array>
					<integer>785</integer>
					<integer>306</integer>
				</array>
				<array>
					<integer>743</integer>
					<integer>310</integer>
				</array>
				<array>
					<integer>708</integer>
					<integer>311</integer>
				</array>
				<array>
					<integer>670</integer>
					<integer>306</integer>
				</array>
				<array>
					<integer>630</integer>
					<integer>303</integer>
				</array>
				<array>
					<integer>584</integer>
					<integer>299</integer>
				</array>
				<array>
					<integer>553</integer>
					<integer>294</integer>
				</array>
				<array>
					<integer>505</integer>
					<integer>295</integer>
				</array>
				<array>
					<integer>447</integer>
					<integer>298</integer>
				</array>
				<array>
					<integer>406</integer>
					<integer>308</integer>
				</array>
				<array>
					<integer>380</integer>
					<integer>325</integer>
				</array>
				<array>
					<integer>363</integer>
					<integer>344</integer>
				</array>
				<array>
					<integer>368</integer>
					<integer>368</integer>
				</array>
				<array>
					<integer>366</integer>
					<integer>395</integer>
				</array>
				<array>
					<integer>373</integer>
					<integer>419</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>254</integer>
					<integer>473</integer>
				</array>
				<array>
					<integer>270</integer>
					<integer>473</integer>
				</array>
				<array>
					<integer>280</integer>
					<integer>465</integer>
				</array>
				<array>
					<integer>287</integer>
					<integer>453</integer>
				</array>
				<array>
					<integer>284</integer>
					<integer>437</integer>
				</array>
				<array>
					<integer>275</integer>
					<integer>426</integer>
				</array>
				<array>
					<integer>256</integer>
					<integer>423</integer>
				</array>
				<array>
					<integer>243</integer>
					<integer>433</integer>
				</array>
				<array>
					<integer>236</integer>
					<integer>450</integer>
				</array>
				<array>
					<integer>241</integer>
					<integer>465</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>316</integer>
					<integer>361</integer>
				</array>
				<array>
					<integer>313</integer>
					<integer>351</integer>
				</array>
				<array>
					<integer>314</integer>
					<integer>334</integer>
				</array>
				<array>
					<integer>305</integer>
					<integer>325</integer>
				</array>
				<array>
					<integer>290</integer>
					<integer>323</integer>
				</array>
				<array>
					<integer>275</integer>
					<integer>333</integer>
				</array>
				<array>
					<integer>270</integer>
					<integer>349</integer>
				</array>
				<array>
					<integer>274</integer>
					<integer>365</integer>
				</array>
				<array>
					<integer>288</integer>
					<integer>373</integer>
				</array>
				<array>
					<integer>305</integer>
					<integer>373</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>706</integer>
					<integer>696</integer>
				</array>
				<array>
					<integer>716</integer>
					<integer>688</integer>
				</array>
				<array>
					<integer>719</integer>
					<integer>678</integer>
				</array>
				<array>
					<integer>728</integer>
					<integer>668</integer>
				</array>
				<array>
					<integer>731</integer>
					<integer>656</integer>
				</array>
				<array>
					<integer>725</integer>
					<integer>639</integer>
				</array>
				<array>
					<integer>711</integer>
					<integer>633</integer>
				</array>
				<array>
					<integer>695</integer>
					<integer>635</integer>
				</array>
				<array>
					<integer>683</integer>
					<integer>642</integer>
				</array>
				<array>
					<integer>676</integer>
					<integer>652</integer>
				</array>
				<array>
					<integer>675</integer>
					<integer>658</integer>
				</array>
				<array>
					<integer>663</integer>
					<integer>671</integer>
				</array>
				<array>
					<integer>662</integer>
					<integer>688</integer>
				</array>
				<array>
					<integer>670</integer>
					<integer>701</integer>
				</array>
				<array>
					<integer>682</integer>
					<integer>708</integer>
				</array>
				<array>
					<integer>696</integer>
					<integer>705</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>855</integer>
					<integer>686</integer>
				</array>
				<array>
					<integer>865</integer>
					<integer>698</integer>
				</array>
				<array>
					<integer>885</integer>
					<integer>700</integer>
				</array>
				<array>
					<integer>896</integer>
					<integer>691</integer>
				</array>
				<array>
					<integer>901</integer>
					<integer>678</integer>
				</array>
				<array>
					<integer>899</integer>
					<integer>666</integer>
				</array>
				<array>
					<integer>896</integer>
					<integer>656</integer>
				</array>
				<array>
					<integer>883</integer>
					<integer>643</integer>
				</array>
				<array>
					<integer>867</integer>
					<integer>641</integer>
				</array>
				<array>
					<integer>855</integer>
					<integer>646</integer>
				</array>
				<array>
					<integer>850</integer>
					<integer>656</integer>
				</array>
				<array>
					<integer>846</integer>
					<integer>670</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1605</integer>
					<integer>786</integer>
				</array>
				<array>
					<integer>1621</integer>
					<integer>783</integer>
				</array>
				<array>
					<integer>1633</integer>
					<integer>775</integer>
				</array>
				<array>
					<integer>1637</integer>
					<integer>761</integer>
				</array>
				<array>
					<integer>1633</integer>
					<integer>748</integer>
				</array>
				<array>
					<integer>1624</integer>
					<integer>738</integer>
				</array>
				<array>
					<integer>1607</integer>
					<integer>731</integer>
				</array>
				<array>
					<integer>1591</integer>
					<integer>738</integer>
				</array>
				<array>
					<integer>1580</integer>
					<integer>753</integer>
				</array>
				<array>
					<integer>1581</integer>
					<integer>771</integer>
				</array>
				<array>
					<integer>1590</integer>
					<integer>781</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1494</integer>
					<integer>657</integer>
				</array>
				<array>
					<integer>1503</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1520</integer>
					<integer>673</integer>
				</array>
				<array>
					<integer>1537</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1547</integer>
					<integer>660</integer>
				</array>
				<array>
					<integer>1553</integer>
					<integer>646</integer>
				</array>
				<array>
					<integer>1550</integer>
					<integer>630</integer>
				</array>
				<array>
					<integer>1542</integer>
					<integer>617</integer>
				</array>
				<array>
					<integer>1527</integer>
					<integer>608</integer>
				</array>
				<array>
					<integer>1509</integer>
					<integer>605</integer>
				</array>
				<array>
					<integer>1492</integer>
					<integer>611</integer>
				</array>
				<array>
					<integer>1483</integer>
					<integer>625</integer>
				</array>
				<array>
					<integer>1482</integer>
					<integer>643</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>dead_men_tell_no_tales_terrain</string>
		<key>waterImage</key>
		<string>dead_men_tell_no_tales_water</string>
	</dict>
</dict>
</plist>
