<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficulty</key>
	<integer>60</integer>
	<key>entities</key>
	<dict>
		<key>boulders</key>
		<integer>12</integer>
		<key>whirlpoolPeriod</key>
		<real>3.75</real>
	</dict>
	<key>name</key>
	<string>Shiver Me Timbers</string>
	<key>number</key>
	<integer>7</integer>
	<key>port</key>
	<dict>
		<key>position</key>
		<dict>
			<key>angle</key>
			<real>3.141592653589793</real>
			<key>x</key>
			<integer>1163</integer>
			<key>y</key>
			<integer>1221</integer>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>3360</integer>
		<key>width</key>
		<integer>3360</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>1080</integer>
		<key>y</key>
		<integer>1480</integer>
	</dict>
	<key>spawnVolumes</key>
	<array>
		<dict>
			<key>maxx</key>
			<integer>3360</integer>
			<key>maxy</key>
			<integer>3560</integer>
			<key>minx</key>
			<integer>0</integer>
			<key>miny</key>
			<integer>3370</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>3560</integer>
			<key>maxy</key>
			<integer>3360</integer>
			<key>minx</key>
			<integer>3370</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>3360</integer>
			<key>maxy</key>
			<integer>-10</integer>
			<key>minx</key>
			<integer>0</integer>
			<key>miny</key>
			<integer>-200</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>-10</integer>
			<key>maxy</key>
			<integer>3360</integer>
			<key>minx</key>
			<integer>-200</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>1333</integer>
					<integer>1560</integer>
				</array>
				<array>
					<integer>1338</integer>
					<integer>1573</integer>
				</array>
				<array>
					<integer>1350</integer>
					<integer>1592</integer>
				</array>
				<array>
					<integer>1368</integer>
					<integer>1603</integer>
				</array>
				<array>
					<integer>1393</integer>
					<integer>1601</integer>
				</array>
				<array>
					<integer>1409</integer>
					<integer>1593</integer>
				</array>
				<array>
					<integer>1421</integer>
					<integer>1583</integer>
				</array>
				<array>
					<integer>1435</integer>
					<integer>1573</integer>
				</array>
				<array>
					<integer>1448</integer>
					<integer>1566</integer>
				</array>
				<array>
					<integer>1459</integer>
					<integer>1557</integer>
				</array>
				<array>
					<integer>1466</integer>
					<integer>1544</integer>
				</array>
				<array>
					<integer>1468</integer>
					<integer>1529</integer>
				</array>
				<array>
					<integer>1471</integer>
					<integer>1515</integer>
				</array>
				<array>
					<integer>1470</integer>
					<integer>1483</integer>
				</array>
				<array>
					<integer>1469</integer>
					<integer>1461</integer>
				</array>
				<array>
					<integer>1463</integer>
					<integer>1439</integer>
				</array>
				<array>
					<integer>1452</integer>
					<integer>1413</integer>
				</array>
				<array>
					<integer>1444</integer>
					<integer>1390</integer>
				</array>
				<array>
					<integer>1448</integer>
					<integer>1371</integer>
				</array>
				<array>
					<integer>1457</integer>
					<integer>1340</integer>
				</array>
				<array>
					<integer>1470</integer>
					<integer>1308</integer>
				</array>
				<array>
					<integer>1486</integer>
					<integer>1277</integer>
				</array>
				<array>
					<integer>1512</integer>
					<integer>1240</integer>
				</array>
				<array>
					<integer>1531</integer>
					<integer>1201</integer>
				</array>
				<array>
					<integer>1545</integer>
					<integer>1177</integer>
				</array>
				<array>
					<integer>1554</integer>
					<integer>1159</integer>
				</array>
				<array>
					<integer>1568</integer>
					<integer>1136</integer>
				</array>
				<array>
					<integer>1584</integer>
					<integer>1105</integer>
				</array>
				<array>
					<integer>1600</integer>
					<integer>1068</integer>
				</array>
				<array>
					<integer>1599</integer>
					<integer>1051</integer>
				</array>
				<array>
					<integer>1591</integer>
					<integer>1026</integer>
				</array>
				<array>
					<integer>1565</integer>
					<integer>1008</integer>
				</array>
				<array>
					<integer>1530</integer>
					<integer>997</integer>
				</array>
				<array>
					<integer>1495</integer>
					<integer>991</integer>
				</array>
				<array>
					<integer>1465</integer>
					<integer>985</integer>
				</array>
				<array>
					<integer>1430</integer>
					<integer>979</integer>
				</array>
				<array>
					<integer>1380</integer>
					<integer>969</integer>
				</array>
				<array>
					<integer>1346</integer>
					<integer>969</integer>
				</array>
				<array>
					<integer>1293</integer>
					<integer>971</integer>
				</array>
				<array>
					<integer>1265</integer>
					<integer>971</integer>
				</array>
				<array>
					<integer>1233</integer>
					<integer>993</integer>
				</array>
				<array>
					<integer>1213</integer>
					<integer>1017</integer>
				</array>
				<array>
					<integer>1191</integer>
					<integer>1052</integer>
				</array>
				<array>
					<integer>1177</integer>
					<integer>1080</integer>
				</array>
				<array>
					<integer>1159</integer>
					<integer>1106</integer>
				</array>
				<array>
					<integer>1149</integer>
					<integer>1148</integer>
				</array>
				<array>
					<integer>1141</integer>
					<integer>1202</integer>
				</array>
				<array>
					<integer>1143</integer>
					<integer>1250</integer>
				</array>
				<array>
					<integer>1152</integer>
					<integer>1293</integer>
				</array>
				<array>
					<integer>1160</integer>
					<integer>1320</integer>
				</array>
				<array>
					<integer>1202</integer>
					<integer>1373</integer>
				</array>
				<array>
					<integer>1230</integer>
					<integer>1406</integer>
				</array>
				<array>
					<integer>1250</integer>
					<integer>1436</integer>
				</array>
				<array>
					<integer>1272</integer>
					<integer>1460</integer>
				</array>
				<array>
					<integer>1285</integer>
					<integer>1486</integer>
				</array>
				<array>
					<integer>1303</integer>
					<integer>1521</integer>
				</array>
				<array>
					<integer>1308</integer>
					<integer>1543</integer>
				</array>
				<array>
					<integer>1315</integer>
					<integer>1555</integer>
				</array>
				<array>
					<integer>1327</integer>
					<integer>1561</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>668</integer>
					<integer>416</integer>
				</array>
				<array>
					<integer>692</integer>
					<integer>436</integer>
				</array>
				<array>
					<integer>721</integer>
					<integer>465</integer>
				</array>
				<array>
					<integer>748</integer>
					<integer>488</integer>
				</array>
				<array>
					<integer>776</integer>
					<integer>513</integer>
				</array>
				<array>
					<integer>810</integer>
					<integer>541</integer>
				</array>
				<array>
					<integer>827</integer>
					<integer>568</integer>
				</array>
				<array>
					<integer>850</integer>
					<integer>595</integer>
				</array>
				<array>
					<integer>867</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>888</integer>
					<integer>657</integer>
				</array>
				<array>
					<integer>901</integer>
					<integer>703</integer>
				</array>
				<array>
					<integer>901</integer>
					<integer>734</integer>
				</array>
				<array>
					<integer>886</integer>
					<integer>751</integer>
				</array>
				<array>
					<integer>873</integer>
					<integer>763</integer>
				</array>
				<array>
					<integer>854</integer>
					<integer>778</integer>
				</array>
				<array>
					<integer>834</integer>
					<integer>787</integer>
				</array>
				<array>
					<integer>800</integer>
					<integer>799</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>801</integer>
				</array>
				<array>
					<integer>726</integer>
					<integer>801</integer>
				</array>
				<array>
					<integer>690</integer>
					<integer>793</integer>
				</array>
				<array>
					<integer>662</integer>
					<integer>783</integer>
				</array>
				<array>
					<integer>631</integer>
					<integer>765</integer>
				</array>
				<array>
					<integer>607</integer>
					<integer>739</integer>
				</array>
				<array>
					<integer>585</integer>
					<integer>716</integer>
				</array>
				<array>
					<integer>558</integer>
					<integer>700</integer>
				</array>
				<array>
					<integer>524</integer>
					<integer>676</integer>
				</array>
				<array>
					<integer>498</integer>
					<integer>651</integer>
				</array>
				<array>
					<integer>472</integer>
					<integer>625</integer>
				</array>
				<array>
					<integer>440</integer>
					<integer>589</integer>
				</array>
				<array>
					<integer>418</integer>
					<integer>550</integer>
				</array>
				<array>
					<integer>418</integer>
					<integer>504</integer>
				</array>
				<array>
					<integer>432</integer>
					<integer>468</integer>
				</array>
				<array>
					<integer>463</integer>
					<integer>440</integer>
				</array>
				<array>
					<integer>493</integer>
					<integer>420</integer>
				</array>
				<array>
					<integer>518</integer>
					<integer>397</integer>
				</array>
				<array>
					<integer>544</integer>
					<integer>376</integer>
				</array>
				<array>
					<integer>557</integer>
					<integer>360</integer>
				</array>
				<array>
					<integer>557</integer>
					<integer>341</integer>
				</array>
				<array>
					<integer>552</integer>
					<integer>309</integer>
				</array>
				<array>
					<integer>550</integer>
					<integer>268</integer>
				</array>
				<array>
					<integer>553</integer>
					<integer>233</integer>
				</array>
				<array>
					<integer>566</integer>
					<integer>196</integer>
				</array>
				<array>
					<integer>591</integer>
					<integer>164</integer>
				</array>
				<array>
					<integer>618</integer>
					<integer>144</integer>
				</array>
				<array>
					<integer>646</integer>
					<integer>130</integer>
				</array>
				<array>
					<integer>678</integer>
					<integer>123</integer>
				</array>
				<array>
					<integer>719</integer>
					<integer>123</integer>
				</array>
				<array>
					<integer>746</integer>
					<integer>129</integer>
				</array>
				<array>
					<integer>778</integer>
					<integer>145</integer>
				</array>
				<array>
					<integer>803</integer>
					<integer>168</integer>
				</array>
				<array>
					<integer>821</integer>
					<integer>205</integer>
				</array>
				<array>
					<integer>830</integer>
					<integer>226</integer>
				</array>
				<array>
					<integer>835</integer>
					<integer>260</integer>
				</array>
				<array>
					<integer>832</integer>
					<integer>284</integer>
				</array>
				<array>
					<integer>820</integer>
					<integer>300</integer>
				</array>
				<array>
					<integer>810</integer>
					<integer>306</integer>
				</array>
				<array>
					<integer>795</integer>
					<integer>311</integer>
				</array>
				<array>
					<integer>770</integer>
					<integer>315</integer>
				</array>
				<array>
					<integer>748</integer>
					<integer>316</integer>
				</array>
				<array>
					<integer>729</integer>
					<integer>316</integer>
				</array>
				<array>
					<integer>703</integer>
					<integer>317</integer>
				</array>
				<array>
					<integer>691</integer>
					<integer>333</integer>
				</array>
				<array>
					<integer>685</integer>
					<integer>347</integer>
				</array>
				<array>
					<integer>678</integer>
					<integer>371</integer>
				</array>
				<array>
					<integer>675</integer>
					<integer>386</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1250</integer>
					<integer>440</integer>
				</array>
				<array>
					<integer>1265</integer>
					<integer>422</integer>
				</array>
				<array>
					<integer>1277</integer>
					<integer>393</integer>
				</array>
				<array>
					<integer>1286</integer>
					<integer>359</integer>
				</array>
				<array>
					<integer>1291</integer>
					<integer>320</integer>
				</array>
				<array>
					<integer>1291</integer>
					<integer>270</integer>
				</array>
				<array>
					<integer>1285</integer>
					<integer>230</integer>
				</array>
				<array>
					<integer>1268</integer>
					<integer>211</integer>
				</array>
				<array>
					<integer>1241</integer>
					<integer>197</integer>
				</array>
				<array>
					<integer>1208</integer>
					<integer>195</integer>
				</array>
				<array>
					<integer>1177</integer>
					<integer>204</integer>
				</array>
				<array>
					<integer>1155</integer>
					<integer>225</integer>
				</array>
				<array>
					<integer>1146</integer>
					<integer>250</integer>
				</array>
				<array>
					<integer>1149</integer>
					<integer>279</integer>
				</array>
				<array>
					<integer>1163</integer>
					<integer>303</integer>
				</array>
				<array>
					<integer>1153</integer>
					<integer>335</integer>
				</array>
				<array>
					<integer>1141</integer>
					<integer>364</integer>
				</array>
				<array>
					<integer>1128</integer>
					<integer>375</integer>
				</array>
				<array>
					<integer>1127</integer>
					<integer>386</integer>
				</array>
				<array>
					<integer>1116</integer>
					<integer>393</integer>
				</array>
				<array>
					<integer>1112</integer>
					<integer>414</integer>
				</array>
				<array>
					<integer>1123</integer>
					<integer>436</integer>
				</array>
				<array>
					<integer>1144</integer>
					<integer>448</integer>
				</array>
				<array>
					<integer>1163</integer>
					<integer>450</integer>
				</array>
				<array>
					<integer>1220</integer>
					<integer>451</integer>
				</array>
				<array>
					<integer>1238</integer>
					<integer>446</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1141</integer>
					<integer>1573</integer>
				</array>
				<array>
					<integer>1173</integer>
					<integer>1565</integer>
				</array>
				<array>
					<integer>1190</integer>
					<integer>1546</integer>
				</array>
				<array>
					<integer>1196</integer>
					<integer>1516</integer>
				</array>
				<array>
					<integer>1189</integer>
					<integer>1496</integer>
				</array>
				<array>
					<integer>1171</integer>
					<integer>1476</integer>
				</array>
				<array>
					<integer>1145</integer>
					<integer>1469</integer>
				</array>
				<array>
					<integer>1119</integer>
					<integer>1478</integer>
				</array>
				<array>
					<integer>1105</integer>
					<integer>1495</integer>
				</array>
				<array>
					<integer>1096</integer>
					<integer>1523</integer>
				</array>
				<array>
					<integer>1106</integer>
					<integer>1551</integer>
				</array>
				<array>
					<integer>1121</integer>
					<integer>1566</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1153</integer>
					<integer>718</integer>
				</array>
				<array>
					<integer>1181</integer>
					<integer>702</integer>
				</array>
				<array>
					<integer>1191</integer>
					<integer>678</integer>
				</array>
				<array>
					<integer>1191</integer>
					<integer>658</integer>
				</array>
				<array>
					<integer>1176</integer>
					<integer>633</integer>
				</array>
				<array>
					<integer>1155</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>1126</integer>
					<integer>621</integer>
				</array>
				<array>
					<integer>1108</integer>
					<integer>631</integer>
				</array>
				<array>
					<integer>1093</integer>
					<integer>658</integer>
				</array>
				<array>
					<integer>1095</integer>
					<integer>693</integer>
				</array>
				<array>
					<integer>1118</integer>
					<integer>713</integer>
				</array>
				<array>
					<integer>1135</integer>
					<integer>720</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>303</integer>
					<integer>313</integer>
				</array>
				<array>
					<integer>333</integer>
					<integer>306</integer>
				</array>
				<array>
					<integer>351</integer>
					<integer>287</integer>
				</array>
				<array>
					<integer>357</integer>
					<integer>267</integer>
				</array>
				<array>
					<integer>355</integer>
					<integer>241</integer>
				</array>
				<array>
					<integer>335</integer>
					<integer>220</integer>
				</array>
				<array>
					<integer>308</integer>
					<integer>209</integer>
				</array>
				<array>
					<integer>278</integer>
					<integer>221</integer>
				</array>
				<array>
					<integer>261</integer>
					<integer>245</integer>
				</array>
				<array>
					<integer>260</integer>
					<integer>276</integer>
				</array>
				<array>
					<integer>275</integer>
					<integer>300</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>davy_jones_locker_terrain</string>
		<key>waterImage</key>
		<string>davy_jones_locker_water</string>
	</dict>
	<key>waves</key>
	<array>
		<dict>
			<key>enemies</key>
			<dict>
				<key>Viking</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>enemies</key>
			<dict>
				<key>Viking</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
