<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Letter of Marque</string>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>4000</integer>
		<key>width</key>
		<integer>4000</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>2160</integer>
		<key>y</key>
		<integer>2160</integer>
	</dict>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>-1</integer>
					<integer>1962</integer>
				</array>
				<array>
					<integer>29</integer>
					<integer>1942</integer>
				</array>
				<array>
					<integer>56</integer>
					<integer>1926</integer>
				</array>
				<array>
					<integer>83</integer>
					<integer>1909</integer>
				</array>
				<array>
					<integer>106</integer>
					<integer>1894</integer>
				</array>
				<array>
					<integer>129</integer>
					<integer>1873</integer>
				</array>
				<array>
					<integer>149</integer>
					<integer>1856</integer>
				</array>
				<array>
					<integer>167</integer>
					<integer>1839</integer>
				</array>
				<array>
					<integer>182</integer>
					<integer>1826</integer>
				</array>
				<array>
					<integer>201</integer>
					<integer>1810</integer>
				</array>
				<array>
					<integer>225</integer>
					<integer>1800</integer>
				</array>
				<array>
					<integer>246</integer>
					<integer>1786</integer>
				</array>
				<array>
					<integer>265</integer>
					<integer>1774</integer>
				</array>
				<array>
					<integer>294</integer>
					<integer>1751</integer>
				</array>
				<array>
					<integer>318</integer>
					<integer>1725</integer>
				</array>
				<array>
					<integer>345</integer>
					<integer>1694</integer>
				</array>
				<array>
					<integer>364</integer>
					<integer>1665</integer>
				</array>
				<array>
					<integer>390</integer>
					<integer>1627</integer>
				</array>
				<array>
					<integer>410</integer>
					<integer>1604</integer>
				</array>
				<array>
					<integer>420</integer>
					<integer>1591</integer>
				</array>
				<array>
					<integer>439</integer>
					<integer>1573</integer>
				</array>
				<array>
					<integer>483</integer>
					<integer>1571</integer>
				</array>
				<array>
					<integer>522</integer>
					<integer>1602</integer>
				</array>
				<array>
					<integer>531</integer>
					<integer>1617</integer>
				</array>
				<array>
					<integer>537</integer>
					<integer>1638</integer>
				</array>
				<array>
					<integer>543</integer>
					<integer>1670</integer>
				</array>
				<array>
					<integer>551</integer>
					<integer>1703</integer>
				</array>
				<array>
					<integer>570</integer>
					<integer>1738</integer>
				</array>
				<array>
					<integer>599</integer>
					<integer>1758</integer>
				</array>
				<array>
					<integer>638</integer>
					<integer>1769</integer>
				</array>
				<array>
					<integer>685</integer>
					<integer>1777</integer>
				</array>
				<array>
					<integer>717</integer>
					<integer>1777</integer>
				</array>
				<array>
					<integer>753</integer>
					<integer>1761</integer>
				</array>
				<array>
					<integer>787</integer>
					<integer>1730</integer>
				</array>
				<array>
					<integer>817</integer>
					<integer>1700</integer>
				</array>
				<array>
					<integer>843</integer>
					<integer>1664</integer>
				</array>
				<array>
					<integer>866</integer>
					<integer>1634</integer>
				</array>
				<array>
					<integer>873</integer>
					<integer>1611</integer>
				</array>
				<array>
					<integer>892</integer>
					<integer>1580</integer>
				</array>
				<array>
					<integer>911</integer>
					<integer>1552</integer>
				</array>
				<array>
					<integer>928</integer>
					<integer>1532</integer>
				</array>
				<array>
					<integer>934</integer>
					<integer>1520</integer>
				</array>
				<array>
					<integer>954</integer>
					<integer>1507</integer>
				</array>
				<array>
					<integer>969</integer>
					<integer>1488</integer>
				</array>
				<array>
					<integer>981</integer>
					<integer>1471</integer>
				</array>
				<array>
					<integer>994</integer>
					<integer>1447</integer>
				</array>
				<array>
					<integer>1004</integer>
					<integer>1420</integer>
				</array>
				<array>
					<integer>1008</integer>
					<integer>1390</integer>
				</array>
				<array>
					<integer>1013</integer>
					<integer>1360</integer>
				</array>
				<array>
					<integer>1016</integer>
					<integer>1328</integer>
				</array>
				<array>
					<integer>1011</integer>
					<integer>1300</integer>
				</array>
				<array>
					<integer>1004</integer>
					<integer>1269</integer>
				</array>
				<array>
					<integer>981</integer>
					<integer>1241</integer>
				</array>
				<array>
					<integer>954</integer>
					<integer>1223</integer>
				</array>
				<array>
					<integer>904</integer>
					<integer>1217</integer>
				</array>
				<array>
					<integer>880</integer>
					<integer>1206</integer>
				</array>
				<array>
					<integer>834</integer>
					<integer>1209</integer>
				</array>
				<array>
					<integer>794</integer>
					<integer>1218</integer>
				</array>
				<array>
					<integer>767</integer>
					<integer>1228</integer>
				</array>
				<array>
					<integer>725</integer>
					<integer>1243</integer>
				</array>
				<array>
					<integer>701</integer>
					<integer>1241</integer>
				</array>
				<array>
					<integer>666</integer>
					<integer>1232</integer>
				</array>
				<array>
					<integer>617</integer>
					<integer>1227</integer>
				</array>
				<array>
					<integer>577</integer>
					<integer>1227</integer>
				</array>
				<array>
					<integer>543</integer>
					<integer>1241</integer>
				</array>
				<array>
					<integer>517</integer>
					<integer>1265</integer>
				</array>
				<array>
					<integer>497</integer>
					<integer>1297</integer>
				</array>
				<array>
					<integer>476</integer>
					<integer>1329</integer>
				</array>
				<array>
					<integer>470</integer>
					<integer>1344</integer>
				</array>
				<array>
					<integer>464</integer>
					<integer>1375</integer>
				</array>
				<array>
					<integer>452</integer>
					<integer>1411</integer>
				</array>
				<array>
					<integer>448</integer>
					<integer>1416</integer>
				</array>
				<array>
					<integer>440</integer>
					<integer>1416</integer>
				</array>
				<array>
					<integer>422</integer>
					<integer>1413</integer>
				</array>
				<array>
					<integer>406</integer>
					<integer>1385</integer>
				</array>
				<array>
					<integer>393</integer>
					<integer>1356</integer>
				</array>
				<array>
					<integer>370</integer>
					<integer>1325</integer>
				</array>
				<array>
					<integer>350</integer>
					<integer>1297</integer>
				</array>
				<array>
					<integer>323</integer>
					<integer>1261</integer>
				</array>
				<array>
					<integer>302</integer>
					<integer>1230</integer>
				</array>
				<array>
					<integer>279</integer>
					<integer>1189</integer>
				</array>
				<array>
					<integer>258</integer>
					<integer>1149</integer>
				</array>
				<array>
					<integer>239</integer>
					<integer>1085</integer>
				</array>
				<array>
					<integer>214</integer>
					<integer>1023</integer>
				</array>
				<array>
					<integer>183</integer>
					<integer>947</integer>
				</array>
				<array>
					<integer>154</integer>
					<integer>883</integer>
				</array>
				<array>
					<integer>139</integer>
					<integer>836</integer>
				</array>
				<array>
					<integer>130</integer>
					<integer>792</integer>
				</array>
				<array>
					<integer>117</integer>
					<integer>750</integer>
				</array>
				<array>
					<integer>109</integer>
					<integer>724</integer>
				</array>
				<array>
					<integer>116</integer>
					<integer>709</integer>
				</array>
				<array>
					<integer>119</integer>
					<integer>685</integer>
				</array>
				<array>
					<integer>146</integer>
					<integer>675</integer>
				</array>
				<array>
					<integer>181</integer>
					<integer>653</integer>
				</array>
				<array>
					<integer>202</integer>
					<integer>635</integer>
				</array>
				<array>
					<integer>216</integer>
					<integer>608</integer>
				</array>
				<array>
					<integer>226</integer>
					<integer>573</integer>
				</array>
				<array>
					<integer>233</integer>
					<integer>537</integer>
				</array>
				<array>
					<integer>235</integer>
					<integer>514</integer>
				</array>
				<array>
					<integer>231</integer>
					<integer>487</integer>
				</array>
				<array>
					<integer>224</integer>
					<integer>458</integer>
				</array>
				<array>
					<integer>219</integer>
					<integer>438</integer>
				</array>
				<array>
					<integer>227</integer>
					<integer>404</integer>
				</array>
				<array>
					<integer>230</integer>
					<integer>365</integer>
				</array>
				<array>
					<integer>233</integer>
					<integer>327</integer>
				</array>
				<array>
					<integer>234</integer>
					<integer>292</integer>
				</array>
				<array>
					<integer>234</integer>
					<integer>251</integer>
				</array>
				<array>
					<integer>230</integer>
					<integer>204</integer>
				</array>
				<array>
					<integer>227</integer>
					<integer>177</integer>
				</array>
				<array>
					<integer>225</integer>
					<integer>148</integer>
				</array>
				<array>
					<integer>223</integer>
					<integer>121</integer>
				</array>
				<array>
					<integer>230</integer>
					<integer>103</integer>
				</array>
				<array>
					<integer>235</integer>
					<integer>80</integer>
				</array>
				<array>
					<integer>255</integer>
					<integer>59</integer>
				</array>
				<array>
					<integer>277</integer>
					<integer>47</integer>
				</array>
				<array>
					<integer>304</integer>
					<integer>39</integer>
				</array>
				<array>
					<integer>339</integer>
					<integer>34</integer>
				</array>
				<array>
					<integer>399</integer>
					<integer>26</integer>
				</array>
				<array>
					<integer>446</integer>
					<integer>21</integer>
				</array>
				<array>
					<integer>474</integer>
					<integer>21</integer>
				</array>
				<array>
					<integer>514</integer>
					<integer>25</integer>
				</array>
				<array>
					<integer>562</integer>
					<integer>34</integer>
				</array>
				<array>
					<integer>620</integer>
					<integer>44</integer>
				</array>
				<array>
					<integer>660</integer>
					<integer>50</integer>
				</array>
				<array>
					<integer>719</integer>
					<integer>70</integer>
				</array>
				<array>
					<integer>767</integer>
					<integer>88</integer>
				</array>
				<array>
					<integer>812</integer>
					<integer>110</integer>
				</array>
				<array>
					<integer>855</integer>
					<integer>135</integer>
				</array>
				<array>
					<integer>895</integer>
					<integer>157</integer>
				</array>
				<array>
					<integer>927</integer>
					<integer>175</integer>
				</array>
				<array>
					<integer>967</integer>
					<integer>197</integer>
				</array>
				<array>
					<integer>1000</integer>
					<integer>213</integer>
				</array>
				<array>
					<integer>1023</integer>
					<integer>227</integer>
				</array>
				<array>
					<integer>1034</integer>
					<integer>245</integer>
				</array>
				<array>
					<integer>1036</integer>
					<integer>268</integer>
				</array>
				<array>
					<integer>1022</integer>
					<integer>303</integer>
				</array>
				<array>
					<integer>1007</integer>
					<integer>328</integer>
				</array>
				<array>
					<integer>988</integer>
					<integer>354</integer>
				</array>
				<array>
					<integer>970</integer>
					<integer>367</integer>
				</array>
				<array>
					<integer>956</integer>
					<integer>384</integer>
				</array>
				<array>
					<integer>940</integer>
					<integer>407</integer>
				</array>
				<array>
					<integer>924</integer>
					<integer>432</integer>
				</array>
				<array>
					<integer>920</integer>
					<integer>458</integer>
				</array>
				<array>
					<integer>914</integer>
					<integer>480</integer>
				</array>
				<array>
					<integer>912</integer>
					<integer>502</integer>
				</array>
				<array>
					<integer>919</integer>
					<integer>530</integer>
				</array>
				<array>
					<integer>931</integer>
					<integer>552</integer>
				</array>
				<array>
					<integer>952</integer>
					<integer>571</integer>
				</array>
				<array>
					<integer>985</integer>
					<integer>582</integer>
				</array>
				<array>
					<integer>1018</integer>
					<integer>590</integer>
				</array>
				<array>
					<integer>1065</integer>
					<integer>591</integer>
				</array>
				<array>
					<integer>1091</integer>
					<integer>586</integer>
				</array>
				<array>
					<integer>1131</integer>
					<integer>581</integer>
				</array>
				<array>
					<integer>1157</integer>
					<integer>574</integer>
				</array>
				<array>
					<integer>1184</integer>
					<integer>571</integer>
				</array>
				<array>
					<integer>1226</integer>
					<integer>572</integer>
				</array>
				<array>
					<integer>1250</integer>
					<integer>573</integer>
				</array>
				<array>
					<integer>1275</integer>
					<integer>571</integer>
				</array>
				<array>
					<integer>1304</integer>
					<integer>562</integer>
				</array>
				<array>
					<integer>1338</integer>
					<integer>549</integer>
				</array>
				<array>
					<integer>1366</integer>
					<integer>534</integer>
				</array>
				<array>
					<integer>1389</integer>
					<integer>519</integer>
				</array>
				<array>
					<integer>1415</integer>
					<integer>499</integer>
				</array>
				<array>
					<integer>1430</integer>
					<integer>477</integer>
				</array>
				<array>
					<integer>1447</integer>
					<integer>451</integer>
				</array>
				<array>
					<integer>1466</integer>
					<integer>419</integer>
				</array>
				<array>
					<integer>1477</integer>
					<integer>392</integer>
				</array>
				<array>
					<integer>1496</integer>
					<integer>351</integer>
				</array>
				<array>
					<integer>1522</integer>
					<integer>314</integer>
				</array>
				<array>
					<integer>1554</integer>
					<integer>273</integer>
				</array>
				<array>
					<integer>1589</integer>
					<integer>236</integer>
				</array>
				<array>
					<integer>1618</integer>
					<integer>206</integer>
				</array>
				<array>
					<integer>1650</integer>
					<integer>178</integer>
				</array>
				<array>
					<integer>1679</integer>
					<integer>151</integer>
				</array>
				<array>
					<integer>1718</integer>
					<integer>131</integer>
				</array>
				<array>
					<integer>1750</integer>
					<integer>115</integer>
				</array>
				<array>
					<integer>1781</integer>
					<integer>96</integer>
				</array>
				<array>
					<integer>1814</integer>
					<integer>78</integer>
				</array>
				<array>
					<integer>1833</integer>
					<integer>68</integer>
				</array>
				<array>
					<integer>1863</integer>
					<integer>53</integer>
				</array>
				<array>
					<integer>1890</integer>
					<integer>42</integer>
				</array>
				<array>
					<integer>1918</integer>
					<integer>26</integer>
				</array>
				<array>
					<integer>1939</integer>
					<integer>12</integer>
				</array>
				<array>
					<integer>1973</integer>
					<integer>1</integer>
				</array>
				<array>
					<integer>1976</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>letter_of_marque_terrain</string>
		<key>waterImage</key>
		<string>letter_of_marque_water</string>
	</dict>
</dict>
</plist>
