<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<dict>
		<key>boulders</key>
		<integer>0</integer>
		<key>whirlpoolLocations</key>
		<array/>
		<key>whirlpools</key>
		<integer>0</integer>
	</dict>
	<key>name</key>
	<string>Give No Quarter</string>
	<key>port</key>
	<dict>
		<key>position</key>
		<dict>
			<key>angle</key>
			<real>1.5707963267948966</real>
			<key>x</key>
			<integer>398</integer>
			<key>y</key>
			<integer>540</integer>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>3200</integer>
		<key>width</key>
		<integer>4320</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>2160</integer>
		<key>y</key>
		<integer>1000</integer>
	</dict>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>-1</integer>
					<integer>407</integer>
				</array>
				<array>
					<integer>27</integer>
					<integer>423</integer>
				</array>
				<array>
					<integer>40</integer>
					<integer>425</integer>
				</array>
				<array>
					<integer>99</integer>
					<integer>454</integer>
				</array>
				<array>
					<integer>156</integer>
					<integer>486</integer>
				</array>
				<array>
					<integer>184</integer>
					<integer>503</integer>
				</array>
				<array>
					<integer>252</integer>
					<integer>528</integer>
				</array>
				<array>
					<integer>317</integer>
					<integer>549</integer>
				</array>
				<array>
					<integer>402</integer>
					<integer>564</integer>
				</array>
				<array>
					<integer>495</integer>
					<integer>571</integer>
				</array>
				<array>
					<integer>613</integer>
					<integer>560</integer>
				</array>
				<array>
					<integer>689</integer>
					<integer>555</integer>
				</array>
				<array>
					<integer>755</integer>
					<integer>563</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>564</integer>
				</array>
				<array>
					<integer>784</integer>
					<integer>557</integer>
				</array>
				<array>
					<integer>806</integer>
					<integer>543</integer>
				</array>
				<array>
					<integer>832</integer>
					<integer>513</integer>
				</array>
				<array>
					<integer>849</integer>
					<integer>480</integer>
				</array>
				<array>
					<integer>861</integer>
					<integer>427</integer>
				</array>
				<array>
					<integer>870</integer>
					<integer>400</integer>
				</array>
				<array>
					<integer>885</integer>
					<integer>357</integer>
				</array>
				<array>
					<integer>911</integer>
					<integer>308</integer>
				</array>
				<array>
					<integer>926</integer>
					<integer>283</integer>
				</array>
				<array>
					<integer>1016</integer>
					<integer>261</integer>
				</array>
				<array>
					<integer>1094</integer>
					<integer>248</integer>
				</array>
				<array>
					<integer>1138</integer>
					<integer>242</integer>
				</array>
				<array>
					<integer>1199</integer>
					<integer>226</integer>
				</array>
				<array>
					<integer>1230</integer>
					<integer>204</integer>
				</array>
				<array>
					<integer>1261</integer>
					<integer>181</integer>
				</array>
				<array>
					<integer>1295</integer>
					<integer>151</integer>
				</array>
				<array>
					<integer>1332</integer>
					<integer>109</integer>
				</array>
				<array>
					<integer>1384</integer>
					<integer>157</integer>
				</array>
				<array>
					<integer>1425</integer>
					<integer>182</integer>
				</array>
				<array>
					<integer>1435</integer>
					<integer>188</integer>
				</array>
				<array>
					<integer>1473</integer>
					<integer>197</integer>
				</array>
				<array>
					<integer>1482</integer>
					<integer>221</integer>
				</array>
				<array>
					<integer>1500</integer>
					<integer>256</integer>
				</array>
				<array>
					<integer>1519</integer>
					<integer>281</integer>
				</array>
				<array>
					<integer>1546</integer>
					<integer>299</integer>
				</array>
				<array>
					<integer>1583</integer>
					<integer>319</integer>
				</array>
				<array>
					<integer>1598</integer>
					<integer>336</integer>
				</array>
				<array>
					<integer>1618</integer>
					<integer>352</integer>
				</array>
				<array>
					<integer>1621</integer>
					<integer>382</integer>
				</array>
				<array>
					<integer>1623</integer>
					<integer>425</integer>
				</array>
				<array>
					<integer>1630</integer>
					<integer>465</integer>
				</array>
				<array>
					<integer>1643</integer>
					<integer>498</integer>
				</array>
				<array>
					<integer>1666</integer>
					<integer>525</integer>
				</array>
				<array>
					<integer>1693</integer>
					<integer>544</integer>
				</array>
				<array>
					<integer>1731</integer>
					<integer>560</integer>
				</array>
				<array>
					<integer>1786</integer>
					<integer>579</integer>
				</array>
				<array>
					<integer>1834</integer>
					<integer>596</integer>
				</array>
				<array>
					<integer>1868</integer>
					<integer>607</integer>
				</array>
				<array>
					<integer>1891</integer>
					<integer>639</integer>
				</array>
				<array>
					<integer>1924</integer>
					<integer>683</integer>
				</array>
				<array>
					<integer>1957</integer>
					<integer>715</integer>
				</array>
				<array>
					<integer>1997</integer>
					<integer>749</integer>
				</array>
				<array>
					<integer>2038</integer>
					<integer>779</integer>
				</array>
				<array>
					<integer>2074</integer>
					<integer>802</integer>
				</array>
				<array>
					<integer>2103</integer>
					<integer>816</integer>
				</array>
				<array>
					<integer>2137</integer>
					<integer>831</integer>
				</array>
				<array>
					<integer>2158</integer>
					<integer>844</integer>
				</array>
				<array>
					<integer>2159</integer>
					<integer>0</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>439</integer>
					<integer>303</integer>
				</array>
				<array>
					<integer>469</integer>
					<integer>291</integer>
				</array>
				<array>
					<integer>500</integer>
					<integer>285</integer>
				</array>
				<array>
					<integer>525</integer>
					<integer>283</integer>
				</array>
				<array>
					<integer>541</integer>
					<integer>282</integer>
				</array>
				<array>
					<integer>553</integer>
					<integer>287</integer>
				</array>
				<array>
					<integer>563</integer>
					<integer>292</integer>
				</array>
				<array>
					<integer>572</integer>
					<integer>282</integer>
				</array>
				<array>
					<integer>595</integer>
					<integer>257</integer>
				</array>
				<array>
					<integer>608</integer>
					<integer>241</integer>
				</array>
				<array>
					<integer>617</integer>
					<integer>222</integer>
				</array>
				<array>
					<integer>627</integer>
					<integer>204</integer>
				</array>
				<array>
					<integer>635</integer>
					<integer>186</integer>
				</array>
				<array>
					<integer>638</integer>
					<integer>179</integer>
				</array>
				<array>
					<integer>634</integer>
					<integer>168</integer>
				</array>
				<array>
					<integer>630</integer>
					<integer>149</integer>
				</array>
				<array>
					<integer>631</integer>
					<integer>142</integer>
				</array>
				<array>
					<integer>626</integer>
					<integer>131</integer>
				</array>
				<array>
					<integer>612</integer>
					<integer>127</integer>
				</array>
				<array>
					<integer>583</integer>
					<integer>126</integer>
				</array>
				<array>
					<integer>547</integer>
					<integer>128</integer>
				</array>
				<array>
					<integer>540</integer>
					<integer>135</integer>
				</array>
				<array>
					<integer>526</integer>
					<integer>144</integer>
				</array>
				<array>
					<integer>510</integer>
					<integer>156</integer>
				</array>
				<array>
					<integer>494</integer>
					<integer>165</integer>
				</array>
				<array>
					<integer>473</integer>
					<integer>173</integer>
				</array>
				<array>
					<integer>452</integer>
					<integer>185</integer>
				</array>
				<array>
					<integer>442</integer>
					<integer>192</integer>
				</array>
				<array>
					<integer>431</integer>
					<integer>209</integer>
				</array>
				<array>
					<integer>428</integer>
					<integer>228</integer>
				</array>
				<array>
					<integer>426</integer>
					<integer>250</integer>
				</array>
				<array>
					<integer>431</integer>
					<integer>276</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>837</integer>
					<integer>912</integer>
				</array>
				<array>
					<integer>826</integer>
					<integer>930</integer>
				</array>
				<array>
					<integer>823</integer>
					<integer>955</integer>
				</array>
				<array>
					<integer>832</integer>
					<integer>974</integer>
				</array>
				<array>
					<integer>844</integer>
					<integer>988</integer>
				</array>
				<array>
					<integer>867</integer>
					<integer>996</integer>
				</array>
				<array>
					<integer>887</integer>
					<integer>994</integer>
				</array>
				<array>
					<integer>902</integer>
					<integer>985</integer>
				</array>
				<array>
					<integer>914</integer>
					<integer>973</integer>
				</array>
				<array>
					<integer>922</integer>
					<integer>957</integer>
				</array>
				<array>
					<integer>923</integer>
					<integer>942</integer>
				</array>
				<array>
					<integer>920</integer>
					<integer>928</integer>
				</array>
				<array>
					<integer>912</integer>
					<integer>915</integer>
				</array>
				<array>
					<integer>904</integer>
					<integer>907</integer>
				</array>
				<array>
					<integer>892</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>882</integer>
					<integer>896</integer>
				</array>
				<array>
					<integer>867</integer>
					<integer>896</integer>
				</array>
				<array>
					<integer>876</integer>
					<integer>883</integer>
				</array>
				<array>
					<integer>882</integer>
					<integer>870</integer>
				</array>
				<array>
					<integer>889</integer>
					<integer>852</integer>
				</array>
				<array>
					<integer>900</integer>
					<integer>835</integer>
				</array>
				<array>
					<integer>906</integer>
					<integer>820</integer>
				</array>
				<array>
					<integer>911</integer>
					<integer>799</integer>
				</array>
				<array>
					<integer>914</integer>
					<integer>775</integer>
				</array>
				<array>
					<integer>911</integer>
					<integer>752</integer>
				</array>
				<array>
					<integer>906</integer>
					<integer>733</integer>
				</array>
				<array>
					<integer>894</integer>
					<integer>713</integer>
				</array>
				<array>
					<integer>884</integer>
					<integer>697</integer>
				</array>
				<array>
					<integer>867</integer>
					<integer>681</integer>
				</array>
				<array>
					<integer>851</integer>
					<integer>671</integer>
				</array>
				<array>
					<integer>833</integer>
					<integer>660</integer>
				</array>
				<array>
					<integer>813</integer>
					<integer>656</integer>
				</array>
				<array>
					<integer>794</integer>
					<integer>659</integer>
				</array>
				<array>
					<integer>778</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>766</integer>
					<integer>683</integer>
				</array>
				<array>
					<integer>760</integer>
					<integer>702</integer>
				</array>
				<array>
					<integer>762</integer>
					<integer>717</integer>
				</array>
				<array>
					<integer>760</integer>
					<integer>734</integer>
				</array>
				<array>
					<integer>758</integer>
					<integer>752</integer>
				</array>
				<array>
					<integer>747</integer>
					<integer>766</integer>
				</array>
				<array>
					<integer>734</integer>
					<integer>790</integer>
				</array>
				<array>
					<integer>723</integer>
					<integer>817</integer>
				</array>
				<array>
					<integer>720</integer>
					<integer>841</integer>
				</array>
				<array>
					<integer>727</integer>
					<integer>867</integer>
				</array>
				<array>
					<integer>738</integer>
					<integer>885</integer>
				</array>
				<array>
					<integer>749</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>767</integer>
					<integer>913</integer>
				</array>
				<array>
					<integer>788</integer>
					<integer>919</integer>
				</array>
				<array>
					<integer>803</integer>
					<integer>917</integer>
				</array>
				<array>
					<integer>816</integer>
					<integer>909</integer>
				</array>
				<array>
					<integer>826</integer>
					<integer>913</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1667</integer>
					<integer>826</integer>
				</array>
				<array>
					<integer>1676</integer>
					<integer>839</integer>
				</array>
				<array>
					<integer>1690</integer>
					<integer>853</integer>
				</array>
				<array>
					<integer>1704</integer>
					<integer>858</integer>
				</array>
				<array>
					<integer>1718</integer>
					<integer>865</integer>
				</array>
				<array>
					<integer>1729</integer>
					<integer>866</integer>
				</array>
				<array>
					<integer>1747</integer>
					<integer>867</integer>
				</array>
				<array>
					<integer>1756</integer>
					<integer>866</integer>
				</array>
				<array>
					<integer>1773</integer>
					<integer>865</integer>
				</array>
				<array>
					<integer>1787</integer>
					<integer>855</integer>
				</array>
				<array>
					<integer>1797</integer>
					<integer>849</integer>
				</array>
				<array>
					<integer>1811</integer>
					<integer>834</integer>
				</array>
				<array>
					<integer>1816</integer>
					<integer>819</integer>
				</array>
				<array>
					<integer>1814</integer>
					<integer>796</integer>
				</array>
				<array>
					<integer>1807</integer>
					<integer>780</integer>
				</array>
				<array>
					<integer>1797</integer>
					<integer>764</integer>
				</array>
				<array>
					<integer>1787</integer>
					<integer>751</integer>
				</array>
				<array>
					<integer>1776</integer>
					<integer>740</integer>
				</array>
				<array>
					<integer>1772</integer>
					<integer>729</integer>
				</array>
				<array>
					<integer>1762</integer>
					<integer>714</integer>
				</array>
				<array>
					<integer>1751</integer>
					<integer>700</integer>
				</array>
				<array>
					<integer>1735</integer>
					<integer>686</integer>
				</array>
				<array>
					<integer>1723</integer>
					<integer>679</integer>
				</array>
				<array>
					<integer>1710</integer>
					<integer>674</integer>
				</array>
				<array>
					<integer>1694</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1678</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1659</integer>
					<integer>669</integer>
				</array>
				<array>
					<integer>1637</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1623</integer>
					<integer>670</integer>
				</array>
				<array>
					<integer>1609</integer>
					<integer>666</integer>
				</array>
				<array>
					<integer>1589</integer>
					<integer>668</integer>
				</array>
				<array>
					<integer>1572</integer>
					<integer>675</integer>
				</array>
				<array>
					<integer>1559</integer>
					<integer>691</integer>
				</array>
				<array>
					<integer>1554</integer>
					<integer>704</integer>
				</array>
				<array>
					<integer>1554</integer>
					<integer>723</integer>
				</array>
				<array>
					<integer>1558</integer>
					<integer>738</integer>
				</array>
				<array>
					<integer>1566</integer>
					<integer>751</integer>
				</array>
				<array>
					<integer>1569</integer>
					<integer>765</integer>
				</array>
				<array>
					<integer>1577</integer>
					<integer>779</integer>
				</array>
				<array>
					<integer>1593</integer>
					<integer>797</integer>
				</array>
				<array>
					<integer>1603</integer>
					<integer>806</integer>
				</array>
				<array>
					<integer>1614</integer>
					<integer>813</integer>
				</array>
				<array>
					<integer>1626</integer>
					<integer>821</integer>
				</array>
				<array>
					<integer>1641</integer>
					<integer>824</integer>
				</array>
				<array>
					<integer>1656</integer>
					<integer>827</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>give_no_quarter_terrain</string>
		<key>waterImage</key>
		<string>give_no_quarter_water</string>
	</dict>
</dict>
</plist>
