<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enemyBalanceItem</key>
	<string>Enemy Balance 0</string>
	<key>difficulty</key>
	<integer>200</integer>
	<key>goldDrop</key>
	<real>3.1</real>
	<key>entities</key>
	<dict>
		<key>boulders</key>
		<integer>40</integer>
	</dict>
	<key>name</key>
	<string>Boom About</string>
	<key>number</key>
	<integer>10</integer>
	<key>port</key>
	<dict>
		<key>position</key>
		<dict>
			<key>angle</key>
			<real>-1.5707963267949</real>
			<key>x</key>
			<integer>1789</integer>
			<key>y</key>
			<integer>1346</integer>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>height</key>
		<integer>3200</integer>
		<key>width</key>
		<integer>4320</integer>
	</dict>
	<key>spawnPoint</key>
	<dict>
		<key>x</key>
		<integer>1080</integer>
		<key>y</key>
		<integer>1080</integer>
	</dict>
	<key>spawnVolumes</key>
	<array>
		<dict>
			<key>maxx</key>
			<integer>-10</integer>
			<key>maxy</key>
			<integer>2880</integer>
			<key>minx</key>
			<integer>-200</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>4320</integer>
			<key>maxy</key>
			<integer>-10</integer>
			<key>minx</key>
			<integer>0</integer>
			<key>miny</key>
			<integer>-200</integer>
		</dict>
		<dict>
			<key>maxx</key>
			<integer>4520</integer>
			<key>maxy</key>
			<integer>2560</integer>
			<key>minx</key>
			<integer>4330</integer>
			<key>miny</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>landSpawnPoints</key>
	<array>
		<dict>
			<key>x</key>
			<integer>267</integer>
			<key>y</key>
			<integer>2983</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1098</integer>
			<key>y</key>
			<integer>2707</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1320</integer>
			<key>y</key>
			<integer>2521</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1596</integer>
			<key>y</key>
			<integer>2290</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>1742</integer>
			<key>y</key>
			<integer>1999</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2094</integer>
			<key>y</key>
			<integer>1906</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2118</integer>
			<key>y</key>
			<integer>2221</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2259</integer>
			<key>y</key>
			<integer>2554</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>2679</integer>
			<key>y</key>
			<integer>2737</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>3477</integer>
			<key>y</key>
			<integer>2695</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>4152</integer>
			<key>y</key>
			<integer>2779</integer>
		</dict>
	</array>
	<key>terrain</key>
	<dict>
		<key>bodies</key>
		<array>
			<array>
				<array>
					<integer>0</integer>
					<integer>1599</integer>
				</array>
				<array>
					<integer>2159</integer>
					<integer>1599</integer>
				</array>
				<array>
					<integer>2159</integer>
					<integer>1375</integer>
				</array>
				<array>
					<integer>2114</integer>
					<integer>1362</integer>
				</array>
				<array>
					<integer>2027</integer>
					<integer>1350</integer>
				</array>
				<array>
					<integer>1949</integer>
					<integer>1339</integer>
				</array>
				<array>
					<integer>1876</integer>
					<integer>1328</integer>
				</array>
				<array>
					<integer>1787</integer>
					<integer>1322</integer>
				</array>
				<array>
					<integer>1701</integer>
					<integer>1324</integer>
				</array>
				<array>
					<integer>1600</integer>
					<integer>1329</integer>
				</array>
				<array>
					<integer>1516</integer>
					<integer>1337</integer>
				</array>
				<array>
					<integer>1431</integer>
					<integer>1341</integer>
				</array>
				<array>
					<integer>1362</integer>
					<integer>1336</integer>
				</array>
				<array>
					<integer>1298</integer>
					<integer>1324</integer>
				</array>
				<array>
					<integer>1257</integer>
					<integer>1318</integer>
				</array>
				<array>
					<integer>1217</integer>
					<integer>1305</integer>
				</array>
				<array>
					<integer>1185</integer>
					<integer>1287</integer>
				</array>
				<array>
					<integer>1160</integer>
					<integer>1267</integer>
				</array>
				<array>
					<integer>1135</integer>
					<integer>1239</integer>
				</array>
				<array>
					<integer>1117</integer>
					<integer>1215</integer>
				</array>
				<array>
					<integer>1091</integer>
					<integer>1185</integer>
				</array>
				<array>
					<integer>1066</integer>
					<integer>1159</integer>
				</array>
				<array>
					<integer>1079</integer>
					<integer>1136</integer>
				</array>
				<array>
					<integer>1089</integer>
					<integer>1106</integer>
				</array>
				<array>
					<integer>1096</integer>
					<integer>1080</integer>
				</array>
				<array>
					<integer>1101</integer>
					<integer>1055</integer>
				</array>
				<array>
					<integer>1102</integer>
					<integer>1031</integer>
				</array>
				<array>
					<integer>1102</integer>
					<integer>1005</integer>
				</array>
				<array>
					<integer>1099</integer>
					<integer>971</integer>
				</array>
				<array>
					<integer>1087</integer>
					<integer>934</integer>
				</array>
				<array>
					<integer>1075</integer>
					<integer>913</integer>
				</array>
				<array>
					<integer>1048</integer>
					<integer>898</integer>
				</array>
				<array>
					<integer>1017</integer>
					<integer>900</integer>
				</array>
				<array>
					<integer>991</integer>
					<integer>910</integer>
				</array>
				<array>
					<integer>969</integer>
					<integer>928</integer>
				</array>
				<array>
					<integer>937</integer>
					<integer>952</integer>
				</array>
				<array>
					<integer>921</integer>
					<integer>959</integer>
				</array>
				<array>
					<integer>902</integer>
					<integer>970</integer>
				</array>
				<array>
					<integer>885</integer>
					<integer>986</integer>
				</array>
				<array>
					<integer>870</integer>
					<integer>1004</integer>
				</array>
				<array>
					<integer>844</integer>
					<integer>1034</integer>
				</array>
				<array>
					<integer>814</integer>
					<integer>1079</integer>
				</array>
				<array>
					<integer>781</integer>
					<integer>1117</integer>
				</array>
				<array>
					<integer>750</integer>
					<integer>1155</integer>
				</array>
				<array>
					<integer>731</integer>
					<integer>1184</integer>
				</array>
				<array>
					<integer>697</integer>
					<integer>1197</integer>
				</array>
				<array>
					<integer>669</integer>
					<integer>1209</integer>
				</array>
				<array>
					<integer>635</integer>
					<integer>1227</integer>
				</array>
				<array>
					<integer>609</integer>
					<integer>1247</integer>
				</array>
				<array>
					<integer>575</integer>
					<integer>1275</integer>
				</array>
				<array>
					<integer>550</integer>
					<integer>1299</integer>
				</array>
				<array>
					<integer>522</integer>
					<integer>1326</integer>
				</array>
				<array>
					<integer>488</integer>
					<integer>1349</integer>
				</array>
				<array>
					<integer>455</integer>
					<integer>1365</integer>
				</array>
				<array>
					<integer>413</integer>
					<integer>1385</integer>
				</array>
				<array>
					<integer>383</integer>
					<integer>1396</integer>
				</array>
				<array>
					<integer>353</integer>
					<integer>1405</integer>
				</array>
				<array>
					<integer>314</integer>
					<integer>1416</integer>
				</array>
				<array>
					<integer>282</integer>
					<integer>1425</integer>
				</array>
				<array>
					<integer>252</integer>
					<integer>1432</integer>
				</array>
				<array>
					<integer>220</integer>
					<integer>1440</integer>
				</array>
				<array>
					<integer>180</integer>
					<integer>1445</integer>
				</array>
				<array>
					<integer>150</integer>
					<integer>1450</integer>
				</array>
				<array>
					<integer>116</integer>
					<integer>1455</integer>
				</array>
				<array>
					<integer>79</integer>
					<integer>1461</integer>
				</array>
				<array>
					<integer>37</integer>
					<integer>1469</integer>
				</array>
				<array>
					<integer>14</integer>
					<integer>1476</integer>
				</array>
				<array>
					<integer>0</integer>
					<integer>1481</integer>
				</array>
			</array>
			<array>
				<array>
					<integer>1312</integer>
					<integer>793</integer>
				</array>
				<array>
					<integer>1301</integer>
					<integer>816</integer>
				</array>
				<array>
					<integer>1289</integer>
					<integer>827</integer>
				</array>
				<array>
					<integer>1273</integer>
					<integer>833</integer>
				</array>
				<array>
					<integer>1259</integer>
					<integer>834</integer>
				</array>
				<array>
					<integer>1242</integer>
					<integer>836</integer>
				</array>
				<array>
					<integer>1220</integer>
					<integer>830</integer>
				</array>
				<array>
					<integer>1199</integer>
					<integer>817</integer>
				</array>
				<array>
					<integer>1185</integer>
					<integer>798</integer>
				</array>
				<array>
					<integer>1181</integer>
					<integer>776</integer>
				</array>
				<array>
					<integer>1181</integer>
					<integer>753</integer>
				</array>
				<array>
					<integer>1178</integer>
					<integer>734</integer>
				</array>
				<array>
					<integer>1178</integer>
					<integer>707</integer>
				</array>
				<array>
					<integer>1179</integer>
					<integer>681</integer>
				</array>
				<array>
					<integer>1175</integer>
					<integer>658</integer>
				</array>
				<array>
					<integer>1173</integer>
					<integer>624</integer>
				</array>
				<array>
					<integer>1180</integer>
					<integer>600</integer>
				</array>
				<array>
					<integer>1187</integer>
					<integer>590</integer>
				</array>
				<array>
					<integer>1198</integer>
					<integer>571</integer>
				</array>
				<array>
					<integer>1217</integer>
					<integer>558</integer>
				</array>
				<array>
					<integer>1237</integer>
					<integer>553</integer>
				</array>
				<array>
					<integer>1259</integer>
					<integer>551</integer>
				</array>
				<array>
					<integer>1281</integer>
					<integer>557</integer>
				</array>
				<array>
					<integer>1295</integer>
					<integer>563</integer>
				</array>
				<array>
					<integer>1323</integer>
					<integer>570</integer>
				</array>
				<array>
					<integer>1354</integer>
					<integer>579</integer>
				</array>
				<array>
					<integer>1375</integer>
					<integer>596</integer>
				</array>
				<array>
					<integer>1396</integer>
					<integer>602</integer>
				</array>
				<array>
					<integer>1415</integer>
					<integer>614</integer>
				</array>
				<array>
					<integer>1435</integer>
					<integer>615</integer>
				</array>
				<array>
					<integer>1454</integer>
					<integer>628</integer>
				</array>
				<array>
					<integer>1466</integer>
					<integer>647</integer>
				</array>
				<array>
					<integer>1473</integer>
					<integer>667</integer>
				</array>
				<array>
					<integer>1478</integer>
					<integer>689</integer>
				</array>
				<array>
					<integer>1469</integer>
					<integer>711</integer>
				</array>
				<array>
					<integer>1461</integer>
					<integer>728</integer>
				</array>
				<array>
					<integer>1443</integer>
					<integer>742</integer>
				</array>
				<array>
					<integer>1414</integer>
					<integer>757</integer>
				</array>
				<array>
					<integer>1401</integer>
					<integer>766</integer>
				</array>
				<array>
					<integer>1372</integer>
					<integer>776</integer>
				</array>
				<array>
					<integer>1349</integer>
					<integer>785</integer>
				</array>
				<array>
					<integer>1326</integer>
					<integer>789</integer>
				</array>
			</array>
		</array>
		<key>image</key>
		<string>boom_about_terrain</string>
		<key>waterImage</key>
		<string>boom_about_water</string>
	</dict>
	<key>waves</key>
	<array>
		<dict>
			<key>enemies</key>
			<array>
				<dict>
					<key>enemy</key>
					<string>Viking</string>
					<key>count</key>
					<integer>7</integer>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>enemy</key>
					<string>Pirate</string>
					<key>count</key>
					<integer>8</integer>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>enemy</key>
					<string>Trebuchet</string>
					<key>count</key>
					<integer>5</integer>
					<key>items</key>
					<array/>
				</dict>
				<dict>
					<key>enemy</key>
					<string>Marooner</string>
					<key>count</key>
					<integer>5</integer>
					<key>items</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
