<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brainStates</key>
		<dict>
			<key>defense</key>
			<string></string>
			<key>flee</key>
			<string></string>
			<key>nothing</key>
			<string>WPTDoNothingBS</string>
			<key>offense</key>
			<string></string>
		</dict>
		<key>name</key>
		<string>kraken_brain</string>
	</dict>
	<dict>
		<key>brainStates</key>
		<dict>
			<key>defense</key>
			<string></string>
			<key>flee</key>
			<string></string>
			<key>nothing</key>
			<string>WPTWiggleBS</string>
			<key>offense</key>
			<string></string>
		</dict>
		<key>name</key>
		<string>static_tentacle_brain</string>
	</dict>
	<dict>
		<key>brainStates</key>
		<dict>
			<key>defense</key>
			<string></string>
			<key>flee</key>
			<string></string>
			<key>nothing</key>
			<string>WPTWanderBS</string>
			<key>offense</key>
			<string></string>
		</dict>
		<key>name</key>
		<string>dynamic_tentacle_brain</string>
	</dict>
	<dict>
		<key>brainStates</key>
		<dict>
			<key>defense</key>
			<string></string>
			<key>flee</key>
			<string></string>
			<key>nothing</key>
			<string>WPTDoNothingBS</string>
			<key>offense</key>
			<string>WPTStandAndShootBS</string>
		</dict>
		<key>name</key>
		<string>stand_and_shoot</string>
	</dict>
	<dict>
		<key>brainStates</key>
		<dict>
			<key>defense</key>
			<string></string>
			<key>flee</key>
			<string>WPTFleeBS</string>
			<key>nothing</key>
			<string>WPTWanderBS</string>
			<key>offense</key>
			<string>WPTPursueBS</string>
		</dict>
		<key>name</key>
		<string>pirate_brain</string>
	</dict>
	<dict>
		<key>brainStates</key>
		<dict>
			<key>defense</key>
			<string></string>
			<key>flee</key>
			<string>WPTFleeBS</string>
			<key>nothing</key>
			<string>WPTWanderBS</string>
			<key>offense</key>
			<string>WPTFleeOffenseBS</string>
		</dict>
		<key>name</key>
		<string>marooner_brain</string>
	</dict>
</array>
</plist>
