<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>bronze_coin</string>
		<key>name</key>
		<string>Bronze Coin</string>
		<key>prevalence</key>
		<integer>100</integer>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>silver_coin</string>
		<key>name</key>
		<string>Silver Coin</string>
		<key>prevalence</key>
		<integer>50</integer>
		<key>value</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>gold_coin</string>
		<key>name</key>
		<string>Gold Coin</string>
		<key>prevalence</key>
		<integer>25</integer>
		<key>value</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ruby</string>
		<key>name</key>
		<string>Ruby</string>
		<key>prevalence</key>
		<integer>10</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>emerald</string>
		<key>name</key>
		<string>Emerald</string>
		<key>prevalence</key>
		<integer>5</integer>
		<key>value</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>amethyst</string>
		<key>name</key>
		<string>Amethyst</string>
		<key>prevalence</key>
		<integer>3</integer>
		<key>value</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>diamond</string>
		<key>name</key>
		<string>Diamond</string>
		<key>prevalence</key>
		<integer>2</integer>
		<key>value</key>
		<integer>250</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pearls</string>
		<key>name</key>
		<string>Pearls</string>
		<key>prevalence</key>
		<integer>1</integer>
		<key>value</key>
		<integer>1000</integer>
	</dict>
</array>
</plist>
