<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggression</key>
		<real>0.5</real>
		<key>brain</key>
		<string>stand_and_shoot</string>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Catapult</string>
		<key>ship</key>
		<string>Catapult</string>
	</dict>
</array>
</plist>
