<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dropHealth</key>
		<false/>
		<key>aggression</key>
		<integer>1</integer>
		<key>awareness</key>
		<integer>1</integer>
		<key>brain</key>
		<string>kraken_brain</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>1</integer>
		<key>items</key>
		<array/>
		<key>ship</key>
		<string>Kraken</string>
		<key>terrainType</key>
		<string>_KRAKEN</string>
		<key>triggerHappiness</key>
		<integer>1</integer>
		<key>name</key>
		<string>Kraken</string>
	</dict>
	<dict>
		<key>dropHealth</key>
		<false/>
		<key>aggression</key>
		<integer>2</integer>
		<key>awareness</key>
		<real>0.1</real>
		<key>brain</key>
		<string>dynamic_tentacle_brain</string>
		<key>caution</key>
		<real>0.1</real>
		<key>haste</key>
		<real>0.1</real>
		<key>items</key>
		<array/>
		<key>ship</key>
		<string>Tentacle</string>
		<key>terrainType</key>
		<string>_UNDER_PLAYER</string>
		<key>triggerHappiness</key>
		<integer>1</integer>
		<key>name</key>
		<string>Dynamic Tentacle</string>
	</dict>
	<dict>
		<key>dropHealth</key>
		<false/>
		<key>aggression</key>
		<integer>1</integer>
		<key>awareness</key>
		<integer>1</integer>
		<key>brain</key>
		<string>static_tentacle_brain</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>1</integer>
		<key>items</key>
		<array/>
		<key>ship</key>
		<string>Tentacle</string>
		<key>terrainType</key>
		<string>_UNDER_PLAYER</string>
		<key>triggerHappiness</key>
		<integer>1</integer>
		<key>name</key>
		<string>Static Tentacle</string>
	</dict>
	<dict>
		<key>dropHealth</key>
		<true/>
		<key>aggression</key>
		<integer>1</integer>
		<key>awareness</key>
		<real>0.5</real>
		<key>brain</key>
		<string>stand_and_shoot</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>1</integer>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Catapult</string>
		<key>ship</key>
		<string>Catapult</string>
		<key>terrainType</key>
		<string>_LAND</string>
		<key>triggerHappiness</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>dropHealth</key>
		<true/>
		<key>aggression</key>
		<real>1.3</real>
		<key>awareness</key>
		<real>0.6</real>
		<key>brain</key>
		<string>stand_and_shoot</string>
		<key>caution</key>
		<real>0.5</real>
		<key>haste</key>
		<real>1.3</real>
		<key>items</key>
		<array>
			<string>Long Barrel Cannon</string>
		</array>
		<key>name</key>
		<string>Trebuchet</string>
		<key>ship</key>
		<string>Catapult</string>
		<key>terrainType</key>
		<string>_LAND</string>
		<key>triggerHappiness</key>
		<real>0.1</real>
	</dict>
	<dict>
		<key>dropHealth</key>
		<true/>
		<key>aggression</key>
		<integer>1</integer>
		<key>awareness</key>
		<integer>1</integer>
		<key>brain</key>
		<string>pirate_brain</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>1</integer>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Pirate</string>
		<key>ship</key>
		<string>Waypoint Ship</string>
		<key>terrainType</key>
		<string>_SEA</string>
		<key>triggerHappiness</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>dropHealth</key>
		<true/>
		<key>aggression</key>
		<real>0.6</real>
		<key>awareness</key>
		<real>1.2</real>
		<key>brain</key>
		<string>marooner_brain</string>
		<key>caution</key>
		<real>1.2</real>
		<key>haste</key>
		<real>0.4</real>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Marooner</string>
		<key>ship</key>
		<string>Waypoint Ship</string>
		<key>terrainType</key>
		<string>_SEA</string>
		<key>triggerHappiness</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>dropHealth</key>
		<true/>
		<key>aggression</key>
		<real>0.2</real>
		<key>awareness</key>
		<real>1.2</real>
		<key>brain</key>
		<string>pirate_brain</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>2</integer>
		<key>name</key>
		<string>Viking</string>
		<key>ship</key>
		<string>Longship</string>
		<key>terrainType</key>
		<string>_SEA</string>
		<key>triggerHappiness</key>
		<real>0.3</real>
	</dict>
</array>
</plist>
