<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aggression</key>
		<integer>1</integer>
		<key>awareness</key>
		<integer>1</integer>
		<key>brain</key>
		<string>stand_and_shoot</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>1</integer>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Catapult</string>
		<key>ship</key>
		<string>Catapult</string>
		<key>terrainType</key>
		<string>_LAND</string>
		<key>triggerHappiness</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>aggression</key>
		<integer>1</integer>
		<key>awareness</key>
		<integer>1</integer>
		<key>brain</key>
		<string>pirate_brain</string>
		<key>caution</key>
		<integer>1</integer>
		<key>haste</key>
		<integer>1</integer>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Pirate</string>
		<key>ship</key>
		<string>Waypoint Ship</string>
		<key>terrainType</key>
		<string>_SEA</string>
		<key>triggerHappiness</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>aggression</key>
		<real>0.59999999999999998</real>
		<key>awareness</key>
		<real>1.2</real>
		<key>brain</key>
		<string>marooner_brain</string>
		<key>caution</key>
		<real>1.2</real>
		<key>haste</key>
		<real>0.40000000000000002</real>
		<key>items</key>
		<array/>
		<key>name</key>
		<string>Marooner</string>
		<key>ship</key>
		<string>Waypoint Ship</string>
		<key>terrainType</key>
		<string>_SEA</string>
		<key>triggerHappiness</key>
		<real>0.5</real>
	</dict>
</array>
</plist>
