<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>0.3</real>
			<key>range</key>
			<real>1.3</real>
			<key>speed</key>
			<real>0.1</real>
			<key>health</key>
			<integer>4</integer>
		</dict>
		<key>description</key>
		<string>balance for level 3</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 3</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>0.3</real>
			<key>range</key>
			<real>1.3</real>
			<key>speed</key>
			<real>0.1</real>
			<key>health</key>
			<integer>4</integer>
		</dict>
		<key>description</key>
		<string>balance for level 2</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 2</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>range</key>
			<real>1.3</real>
			<key>speed</key>
			<real>0.1</real>
			<key>health</key>
			<integer>2</integer>
		</dict>
		<key>description</key>
		<string>balance for level 1</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 1</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>-0.3</real>
			<key>damage</key>
			<real>-0.3</real>
		</dict>
		<key>description</key>
		<string>balance for level 0</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 0</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Extra Cannon</string>
		<key>imageName</key>
		<string>cannon_item</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Cannon</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
