<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>turnRate</key>
			<real>0.3</real>
			<key>shotSpeed</key>
			<integer>0</integer>
			<key>fireRate</key>
			<real>0.3</real>
			<key>damage</key>
			<integer>1</integer>
			<key>range</key>
			<integer>0</integer>
			<key>speed</key>
			<real>0.8</real>
			<key>health</key>
			<integer>6</integer>
		</dict>
		<key>description</key>
		<string>balance for level 8</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 8</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>turnRate</key>
			<real>0.3</real>
			<key>shotSpeed</key>
			<integer>0</integer>
			<key>fireRate</key>
			<real>0.3</real>
			<key>damage</key>
			<real>0.5</real>
			<key>range</key>
			<integer>0</integer>
			<key>speed</key>
			<real>0.8</real>
			<key>health</key>
			<real>5.5</real>
		</dict>
		<key>description</key>
		<string>balance for level 7</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 7</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>shotSpeed</key>
			<real>0.5</real>
			<key>fireRate</key>
			<integer>-3</integer>
			<key>damage</key>
			<real>0</real>
			<key>range</key>
			<real>2.5</real>
			<key>speed</key>
			<real>0.3</real>
			<key>health</key>
			<real>4.5</real>
		</dict>
		<key>description</key>
		<string>balance for level 6</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 6</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<integer>0</integer>
			<key>damage</key>
			<integer>-3</integer>
			<key>range</key>
			<real>-0.5</real>
			<key>speed</key>
			<real>0.5</real>
			<key>health</key>
			<real>0</real>
		</dict>
		<key>description</key>
		<string>balance for level 5</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 5</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>-0.5</real>
			<key>size</key>
			<real>1.5</real>
			<key>damage</key>
			<real>0.1</real>
			<key>range</key>
			<real>1.8</real>
			<key>speed</key>
			<real>-0.5</real>
			<key>health</key>
			<real>4.1</real>
		</dict>
		<key>description</key>
		<string>balance for level 4</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 4</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>0.3</real>
			<key>damage</key>
			<real>0.23</real>
			<key>range</key>
			<real>0.2</real>
			<key>speed</key>
			<real>0.1</real>
			<key>health</key>
			<real>1</real>
		</dict>
		<key>description</key>
		<string>balance for level 3</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 3</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>0.1</real>
			<key>range</key>
			<real>0</real>
			<key>speed</key>
			<real>0.1</real>
			<key>health</key>
			<real>1.2</real>
		</dict>
		<key>description</key>
		<string>balance for level 2</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 2</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>-0.2</real>
			<key>range</key>
			<real>0.3</real>
			<key>speed</key>
			<real>0.1</real>
			<key>health</key>
			<real>0.25</real>
		</dict>
		<key>description</key>
		<string>balance for level 1</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 1</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>-0.3</real>
			<key>damage</key>
			<real>-0.3</real>
		</dict>
		<key>description</key>
		<string>balance for level 0</string>
		<key>imageName</key>
		<string>_</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Enemy Balance 0</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Extra Cannon</string>
		<key>imageName</key>
		<string>cannon_item</string>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Cannon</string>
		<key>prevalence</key>
		<integer>0</integer>
		<key>tier</key>
		<string>OTHER</string>
		<key>value</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
