<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Shark Bait</string>
	<string>Sofishticated</string>
	<string>Yeah Buoy</string>
	<string>Pier Pressure</string>
	<string>Resting Beachface</string>
	<string>Seas The Day</string>
	<string>Aquaholic</string>
	<string>Poly Pontoon</string>
	<string>Theodore</string>
	<string>Eagle&apos;s Shadow</string>
	<string>Salty Sea Mare</string>
	<string>Ship Happens</string>
	<string>Mayflower</string>
	<string>The Orca</string>
	<string>Poseidon</string>
	<string>Boaty McBoatface</string>
	<string>Battered Booter</string>
	<string>Baracuda</string>
	<string>Bilgeswill Rattlebones</string>
	<string>Corky McSwaggers</string>
	<string>The Waypoint</string>
	<string>Night Ripper</string>
	<string>Crabcakes</string>
	<string>Plankdancer</string>
	<string>Plunderloot</string>
	<string>SLO Cruiser</string>
	<string>The Swashbuckler</string>
	<string>The Objective Sea</string>
	<string>Esperanza</string>
	<string>The Randal Scovil</string>
	<string>Zach The Horrible</string>
	<string>Audriana</string>
	<string>North Star</string>
	<string>The Santa Maria</string>
	<string>Jenny</string>
	<string>The Pillager</string>
	<string>Scallywag</string>
	<string>Buccaneer</string>
	<string>Jolly Roger</string>
	<string>The Whirlwind</string>
	<string>Fireball</string>
	<string>Blaze</string>
	<string>The Armada</string>
	<string>The Swift</string>
	<string>Alexandria</string>
	<string>Dragon&apos;s Breath</string>
	<string>The Mystic</string>
	<string>Apollo</string>
	<string>The Bayonet</string>
	<string>The Victoria</string>
	<string>Blackburn</string>
	<string>Victorious</string>
	<string>The Warwick</string>
	<string>The Nighthawk</string>
	<string>Seven Seas</string>
	<string>Night Atlantis</string>
	<string>Sea Rover</string>
	<string>Plundering Storm</string>
	<string>Silent North</string>
	<string>Black Pearl</string>
	<string>Midnight Sail</string>
	<string>Blackwell</string>
	<string>Sir Bradford</string>
	<string>SS Taylor</string>
	<string>SS Schulz</string>
</array>
</plist>
