<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Zach The Horrible</string>
	<string>Audriana</string>
	<string>North Star</string>
	<string>The Santa Maria</string>
	<string>Jenny</string>
	<string>The Pillager</string>
	<string>Scallywag</string>
	<string>Buccaneer</string>
	<string>Jolly Roger</string>
	<string>The Whirlwind</string>
	<string>Fireball</string>
	<string>Blaze</string>
	<string>The Armada</string>
	<string>The Swift</string>
	<string>Alexandria</string>
	<string>Dragon&apos;s Breath</string>
	<string>The Mystic</string>
	<string>Apollo</string>
	<string>The Bayonet</string>
	<string>The Victoria</string>
	<string>Blackburn</string>
	<string>Victorious</string>
	<string>The Warwick</string>
	<string>The Nighthawk</string>
	<string>Seven Seas</string>
	<string>Night Atlantis</string>
	<string>Sea Rover</string>
	<string>Plundering Storm</string>
	<string>Silent North</string>
	<string>Black Pearl</string>
	<string>Midnight Sail</string>
	<string>Blackwell</string>
</array>
</plist>
