<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>oar</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Oar</string>
		<key>prevalence</key>
		<integer>100</integer>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>gunpowder</string>
		<key>modifiers</key>
		<dict>
			<key>shotSpeed</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Gun Powder</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>spiked_cannon_ball</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Spiked Cannon Ball</string>
		<key>prevalence</key>
		<integer>15</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>propeller_silver</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.33000000000000002</real>
		</dict>
		<key>multiplicity</key>
		<integer>3</integer>
		<key>name</key>
		<string>Propeller</string>
		<key>prevalence</key>
		<integer>25</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>rudder</string>
		<key>modifiers</key>
		<dict>
			<key>turnRate</key>
			<real>0.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rudder</string>
		<key>prevalence</key>
		<integer>40</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sail</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>5</integer>
		<key>name</key>
		<string>Sail</string>
		<key>prevalence</key>
		<integer>80</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
</array>
</plist>
