<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Row Faster, Oar Else!</string>
		<key>imageName</key>
		<string>oar</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.1</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Oar</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Thar She Blows!</string>
		<key>imageName</key>
		<string>gunpowder</string>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>0.3</real>
			<key>damage</key>
			<real>0.3</real>
			<key>shotSpeed</key>
			<real>0.1</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Gun Powder</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>cannonBallImage</key>
		<string>spiked_cannon_ball</string>
		<key>description</key>
		<string>Ouch, Spikey!</string>
		<key>imageName</key>
		<string>spiked_cannon_ball</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Spiked Cannon Ball</string>
		<key>prevalence</key>
		<integer>15</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Rev the Motor!</string>
		<key>imageName</key>
		<string>propeller_silver</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.33</real>
		</dict>
		<key>multiplicity</key>
		<integer>3</integer>
		<key>name</key>
		<string>Propeller</string>
		<key>prevalence</key>
		<integer>25</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Turn Faster!</string>
		<key>imageName</key>
		<string>rudder</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.1</real>
			<key>turnRate</key>
			<real>0.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rudder</string>
		<key>prevalence</key>
		<integer>40</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Hoist the Mizzen!</string>
		<key>imageName</key>
		<string>sail</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.1</real>
			<key>speed</key>
			<real>0.2</real>
		</dict>
		<key>multiplicity</key>
		<integer>5</integer>
		<key>name</key>
		<string>Sail</string>
		<key>prevalence</key>
		<integer>60</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>To the Crow&apos;s Nest!</string>
		<key>imageName</key>
		<string>telescope</string>
		<key>modifiers</key>
		<dict>
			<key>range</key>
			<real>1.6</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Telescope</string>
		<key>prevalence</key>
		<integer>60</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Steer Straight!</string>
		<key>imageName</key>
		<string>ships_wheel</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.15</real>
			<key>turnRate</key>
			<real>0.6</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Ship&apos;s Wheel</string>
		<key>prevalence</key>
		<integer>40</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>All... Hooks?.. On Deck!</string>
		<key>imageName</key>
		<string>hook_hand</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.1</real>
			<key>damage</key>
			<real>1.2</real>
			<key>fireRate</key>
			<real>-0.3</real>
		</dict>
		<key>multiplicity</key>
		<integer>2</integer>
		<key>name</key>
		<string>Hook Hand</string>
		<key>prevalence</key>
		<integer>60</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Eye Can&apos;t See!</string>
		<key>imageName</key>
		<string>eyepatch</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.2</real>
			<key>fireRate</key>
			<real>1.6</real>
			<key>range</key>
			<real>-0.6</real>
		</dict>
		<key>multiplicity</key>
		<integer>2</integer>
		<key>name</key>
		<string>Eyepatch</string>
		<key>prevalence</key>
		<integer>70</integer>
		<key>value</key>
		<integer>17</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Lightning Cannon Rate!</string>
		<key>imageName</key>
		<string>pile_of_cannon_balls</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>-0.4</real>
			<key>fireRate</key>
			<real>0.7</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Pile of Cannon Balls</string>
		<key>prevalence</key>
		<integer>30</integer>
		<key>value</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Bottoms Up!</string>
		<key>imageName</key>
		<string>rum</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.2</real>
			<key>damage</key>
			<real>0.9</real>
			<key>shotSpeed</key>
			<real>-0.5</real>
			<key>speed</key>
			<real>-0.3</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rum</string>
		<key>prevalence</key>
		<integer>65</integer>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Boost Your Damage!</string>
		<key>imageName</key>
		<string>scimitar</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Scimitar</string>
		<key>prevalence</key>
		<integer>55</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Drum Roll Please!</string>
		<key>imageName</key>
		<string>drum</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.1</real>
			<key>range</key>
			<real>1.5</real>
			<key>size</key>
			<real>0.2</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Drum</string>
		<key>prevalence</key>
		<integer>20</integer>
		<key>value</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Boost Cannon Range!</string>
		<key>imageName</key>
		<string>pirate_flag</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.1</real>
			<key>range</key>
			<real>1.1</real>
		</dict>
		<key>multiplicity</key>
		<integer>3</integer>
		<key>name</key>
		<string>Pirate Flag</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Mermaid For Each Other!</string>
		<key>imageName</key>
		<string>mermaid</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.13</real>
			<key>fireRate</key>
			<real>2.2</real>
			<key>turnRate</key>
			<real>1.4</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Mermaid Figure</string>
		<key>prevalence</key>
		<integer>10</integer>
		<key>value</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Boost Cannon Speed &amp; Range!</string>
		<key>imageName</key>
		<string>long_barrel_cannon</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>0.5</real>
			<key>range</key>
			<real>1.4</real>
			<key>shotSpeed</key>
			<real>0.6</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Long Barrel Cannon</string>
		<key>prevalence</key>
		<integer>30</integer>
		<key>value</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Boost Fire Rate!</string>
		<key>imageName</key>
		<string>bandana</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>-0.2</real>
			<key>health</key>
			<real>0.05</real>
			<key>fireRate</key>
			<real>0.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Bandana</string>
		<key>prevalence</key>
		<integer>30</integer>
		<key>value</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Belay That, Matey!</string>
		<key>imageName</key>
		<string>rope</string>
		<key>modifiers</key>
		<dict>
			<key>itemRadius</key>
			<real>0.3</real>
			<key>turnRate</key>
			<real>0.4</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rope</string>
		<key>prevalence</key>
		<integer>80</integer>
		<key>value</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Stop, Drop, and Barrel Roll!</string>
		<key>imageName</key>
		<string>barrel</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>2.5</real>
			<key>speed</key>
			<real>-0.4</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Barrel</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Me Hearties Yo Ho!</string>
		<key>imageName</key>
		<string>blunderbuss</string>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>0.2</real>
			<key>damage</key>
			<real>1</real>
			<key>shotSpeed</key>
			<real>0.3</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Blunderbuss</string>
		<key>prevalence</key>
		<integer>65</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>description</key>
		<string>Boost Max Health!</string>
		<key>imageName</key>
		<string>life_ring</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>1.3</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Life Ring</string>
		<key>prevalence</key>
		<integer>70</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
</array>
</plist>
