<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>oar</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Oar</string>
		<key>prevalence</key>
		<integer>100</integer>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>gunpowder</string>
		<key>modifiers</key>
		<dict>
			<key>shotSpeed</key>
			<real>0.10000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Gun Powder</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>cannonBallImage</key>
		<string>spiked_cannon_ball</string>
		<key>imageName</key>
		<string>spiked_cannon_ball</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Spiked Cannon Ball</string>
		<key>prevalence</key>
		<integer>15</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>propeller_silver</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.33000000000000002</real>
		</dict>
		<key>multiplicity</key>
		<integer>3</integer>
		<key>name</key>
		<string>Propeller</string>
		<key>prevalence</key>
		<integer>25</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>rudder</string>
		<key>modifiers</key>
		<dict>
			<key>turnRate</key>
			<real>0.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Rudder</string>
		<key>prevalence</key>
		<integer>40</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>sail</string>
		<key>modifiers</key>
		<dict>
			<key>speed</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>5</integer>
		<key>name</key>
		<string>Sail</string>
		<key>prevalence</key>
		<integer>80</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>telescope</string>
		<key>modifiers</key>
		<dict>
			<key>range</key>
			<real>2</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Telescope</string>
		<key>prevalence</key>
		<integer>60</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>ships_wheel</string>
		<key>modifiers</key>
		<dict>
			<key>turnRate</key>
			<real>0.59999999999999998</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Ship's Wheel</string>
		<key>prevalence</key>
		<integer>40</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>hook_hand</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1.2</real>
			<key>fireRate</key>
			<real>-0.29999999999999999</real>
		</dict>
		<key>multiplicity</key>
		<integer>2</integer>
		<key>name</key>
		<string>Hook Hand</string>
		<key>prevalence</key>
		<integer>60</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>eyepatch</string>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>1.6000000000000001</real>
			<key>range</key>
			<integer>-1</integer>
		</dict>
		<key>multiplicity</key>
		<integer>2</integer>
		<key>name</key>
		<string>Eyepatch</string>
		<key>prevalence</key>
		<integer>70</integer>
		<key>value</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pile_of_cannon_balls</string>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>2.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Pile of Cannon Balls</string>
		<key>prevalence</key>
		<integer>20</integer>
		<key>value</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>rum</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>2.7999999999999998</real>
			<key>shotSpeed</key>
			<integer>-1</integer>
			<key>speed</key>
			<real>-0.80000000000000004</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rum</string>
		<key>prevalence</key>
		<integer>65</integer>
		<key>value</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>scimitar</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Scimitar</string>
		<key>prevalence</key>
		<integer>55</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>drum</string>
		<key>modifiers</key>
		<dict>
			<key>range</key>
			<real>1.5</real>
			<key>size</key>
			<real>0.20000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Drum</string>
		<key>prevalence</key>
		<integer>20</integer>
		<key>value</key>
		<integer>45</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>pirate_flag</string>
		<key>modifiers</key>
		<dict>
			<key>range</key>
			<real>2.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>3</integer>
		<key>name</key>
		<string>Pirate Flag</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>mermaid</string>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>2.2000000000000002</real>
			<key>turnRate</key>
			<real>1.3999999999999999</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Mermaid Figure</string>
		<key>prevalence</key>
		<integer>10</integer>
		<key>value</key>
		<integer>65</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>long_barrel_cannon</string>
		<key>modifiers</key>
		<dict>
			<key>range</key>
			<real>2</real>
			<key>shotSpeed</key>
			<real>1</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Long Barrel Cannon</string>
		<key>prevalence</key>
		<integer>30</integer>
		<key>value</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>bandana</string>
		<key>modifiers</key>
		<dict>
			<key>fireRate</key>
			<real>1.1000000000000001</real>
		</dict>
		<key>multiplicity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Bandana</string>
		<key>prevalence</key>
		<integer>25</integer>
		<key>value</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>rope</string>
		<key>modifiers</key>
		<dict>
			<key>turnRate</key>
			<real>0.40000000000000002</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Rope</string>
		<key>prevalence</key>
		<integer>80</integer>
		<key>value</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>barrel</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>2.5</real>
			<key>speed</key>
			<real>-0.40000000000000002</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Barrel</string>
		<key>prevalence</key>
		<integer>75</integer>
		<key>value</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>blunderbuss</string>
		<key>modifiers</key>
		<dict>
			<key>damage</key>
			<real>1</real>
			<key>shotSpeed</key>
			<real>0.29999999999999999</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Blunderbuss</string>
		<key>prevalence</key>
		<integer>45</integer>
		<key>value</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>imageName</key>
		<string>life_ring</string>
		<key>modifiers</key>
		<dict>
			<key>health</key>
			<real>3.5</real>
		</dict>
		<key>multiplicity</key>
		<integer>0</integer>
		<key>name</key>
		<string>Life Ring</string>
		<key>prevalence</key>
		<integer>70</integer>
		<key>value</key>
		<integer>35</integer>
	</dict>
</array>
</plist>
