<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>previewImage</key>
		<string></string>
		<key>cannonSet</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>inGameImage</key>
		<string>catapult_top_down</string>
		<key>name</key>
		<string>Catapult</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<real>1</real>
			<key>fireRateScale</key>
			<real>0.5</real>
			<key>healthScale</key>
			<real>2.3</real>
			<key>rangeScale</key>
			<real>2</real>
			<key>shotSpeedScale</key>
			<real>1.1</real>
			<key>sizeScale</key>
			<real>1.3</real>
			<key>speedScale</key>
			<real>0</real>
			<key>turnRateScale</key>
			<real>1.8</real>
		</dict>
	</dict>
</array>
</plist>
