<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>turnWhenFacing</key>
		<true/>
		<key>cannonSet</key>
		<array>
			<dict>
				<key>angle</key>
				<real>-1.570796326794897</real>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>-128</integer>
				<key>y</key>
				<integer>-100</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>1.570796326794897</real>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>-128</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>1.570796326794897</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>90</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>-1.570796326794897</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>-90</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>3.926990816987241</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>-216</integer>
				<key>y</key>
				<integer>-100</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>2.356194490192345</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>-216</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>0.7853981633974483</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>5.497787143782138</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>-50</integer>
			</dict>
		</array>
		<key>colliderOffset</key>
		<dict>
			<key>x</key>
			<integer>-256</integer>
			<key>y</key>
			<integer>-256</integer>
		</dict>
		<key>colliderPath</key>
		<array>
			<array>
				<integer>8</integer>
				<integer>188</integer>
			</array>
			<array>
				<integer>111</integer>
				<integer>194</integer>
			</array>
			<array>
				<integer>195</integer>
				<integer>181</integer>
			</array>
			<array>
				<integer>255</integer>
				<integer>133</integer>
			</array>
			<array>
				<integer>206</integer>
				<integer>85</integer>
			</array>
			<array>
				<integer>108</integer>
				<integer>66</integer>
			</array>
			<array>
				<integer>5</integer>
				<integer>71</integer>
			</array>
		</array>
		<key>inGameImage</key>
		<string>waypoint_ship_top_down</string>
		<key>inGamePlayerImage</key>
		<string>player_waypoint_ship_top_down</string>
		<key>name</key>
		<string>Buccaneer Ship</string>
		<key>previewImage</key>
		<string>WaypointShip</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<real>1.5</real>
			<key>fireRateScale</key>
			<real>1.2</real>
			<key>healthScale</key>
			<integer>2</integer>
			<key>itemRadiusScale</key>
			<integer>2</integer>
			<key>rangeScale</key>
			<integer>2</integer>
			<key>shotSpeedScale</key>
			<integer>2</integer>
			<key>sizeScale</key>
			<real>1.3</real>
			<key>speedScale</key>
			<integer>2</integer>
			<key>turnRateScale</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>restrictStats</key>
		<false/>
		<key>imageOffset</key>
		<dict>
			<key>x</key>
			<real>1100</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<integer>15</integer>
			<key>fireRateScale</key>
			<integer>1</integer>
			<key>healthScale</key>
			<integer>1000</integer>
			<key>itemRadiusScale</key>
			<integer>1</integer>
			<key>rangeScale</key>
			<integer>1</integer>
			<key>shotSpeedScale</key>
			<integer>1</integer>
			<key>sizeScale</key>
			<integer>1</integer>
			<key>speedScale</key>
			<integer>1</integer>
			<key>turnRateScale</key>
			<integer>1</integer>
		</dict>
		<key>previewImage</key>
		<string></string>
		<key>name</key>
		<string>Kraken</string>
		<key>inGameImage</key>
		<string>kraken</string>
		<key>colliderPath</key>
		<array>
			<array>
				<integer>40</integer>
				<integer>670</integer>
			</array>
			<array>
				<integer>100</integer>
				<integer>700</integer>
			</array>
			<array>
				<integer>100</integer>
				<integer>480</integer>
			</array>
			<array>
				<integer>40</integer>
				<integer>515</integer>
			</array>
		</array>
		<key>colliderOffset</key>
		<dict>
			<key>x</key>
			<integer>-100</integer>
			<key>y</key>
			<integer>-1200</integer>
		</dict>
		<key>cannonSet</key>
		<array/>
		<key>turnWhenFacing</key>
		<false/>
	</dict>
	<dict>
		<key>restrictStats</key>
		<false/>
		<key>imageOffset</key>
		<dict>
			<key>x</key>
			<integer>222</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>turnWhenFacing</key>
		<false/>
		<key>cannonSet</key>
		<array/>
		<key>colliderOffset</key>
		<dict>
			<key>x</key>
			<integer>-64</integer>
			<key>y</key>
			<integer>-64</integer>
		</dict>
		<key>colliderPath</key>
		<array>
			<array>
				<integer>3</integer>
				<integer>78</integer>
			</array>
			<array>
				<integer>54</integer>
				<integer>77</integer>
			</array>
			<array>
				<integer>51</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>5</integer>
				<integer>1</integer>
			</array>
		</array>
		<key>inGameImage</key>
		<string>tentacle</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<integer>10</integer>
			<key>fireRateScale</key>
			<integer>1</integer>
			<key>healthScale</key>
			<integer>50</integer>
			<key>itemRadiusScale</key>
			<integer>1</integer>
			<key>rangeScale</key>
			<integer>1</integer>
			<key>shotSpeedScale</key>
			<integer>1</integer>
			<key>sizeScale</key>
			<integer>4</integer>
			<key>speedScale</key>
			<integer>4</integer>
			<key>turnRateScale</key>
			<integer>1</integer>
		</dict>
		<key>previewImage</key>
		<string></string>
		<key>name</key>
		<string>Tentacle</string>
	</dict>
	<dict>
		<key>turnWhenFacing</key>
		<true/>
		<key>cannonSet</key>
		<array>
			<dict>
				<key>angle</key>
				<real>3.1415926</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>-100</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>colliderOffset</key>
		<dict>
			<key>x</key>
			<integer>-256</integer>
			<key>y</key>
			<integer>-256</integer>
		</dict>
		<key>colliderPath</key>
		<array>
			<array>
				<integer>78</integer>
				<integer>161</integer>
			</array>
			<array>
				<integer>122</integer>
				<integer>189</integer>
			</array>
			<array>
				<integer>178</integer>
				<integer>164</integer>
			</array>
			<array>
				<integer>186</integer>
				<integer>117</integer>
			</array>
			<array>
				<integer>164</integer>
				<integer>81</integer>
			</array>
			<array>
				<integer>120</integer>
				<integer>75</integer>
			</array>
			<array>
				<integer>72</integer>
				<integer>97</integer>
			</array>
			<array>
				<integer>70</integer>
				<integer>128</integer>
			</array>
		</array>
		<key>inGameImage</key>
		<string>catapult_top_down</string>
		<key>name</key>
		<string>Catapult</string>
		<key>previewImage</key>
		<string></string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<real>1</real>
			<key>fireRateScale</key>
			<real>0.5</real>
			<key>healthScale</key>
			<real>0.7</real>
			<key>itemRadiusScale</key>
			<real>1</real>
			<key>rangeScale</key>
			<real>1</real>
			<key>shotSpeedScale</key>
			<real>1.1</real>
			<key>sizeScale</key>
			<real>1.3</real>
			<key>speedScale</key>
			<real>0</real>
			<key>turnRateScale</key>
			<real>0.3</real>
		</dict>
	</dict>
	<dict>
		<key>turnWhenFacing</key>
		<true/>
		<key>cannonSet</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>3.141592653589793</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>-200</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>1.570796326794897</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>-1.570796326794897</real>
				<key>hasCannon</key>
				<false/>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>-120</integer>
			</dict>
		</array>
		<key>colliderOffset</key>
		<dict>
			<key>x</key>
			<integer>-256</integer>
			<key>y</key>
			<integer>-256</integer>
		</dict>
		<key>colliderPath</key>
		<array>
			<array>
				<integer>114</integer>
				<integer>187</integer>
			</array>
			<array>
				<integer>251</integer>
				<integer>127</integer>
			</array>
			<array>
				<integer>125</integer>
				<integer>66</integer>
			</array>
			<array>
				<integer>8</integer>
				<integer>117</integer>
			</array>
		</array>
		<key>inGameImage</key>
		<string>paper_boat_top_down</string>
		<key>inGamePlayerImage</key>
		<string>paper_boat_top_down</string>
		<key>name</key>
		<string>Paper Boat Enemy</string>
		<key>previewImage</key>
		<string>PaperBoat</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<integer>10</integer>
			<key>fireRateScale</key>
			<integer>5</integer>
			<key>healthScale</key>
			<integer>-1000000000</integer>
			<key>itemRadiusScale</key>
			<real>1</real>
			<key>rangeScale</key>
			<real>1</real>
			<key>shotSpeedScale</key>
			<real>0.7</real>
			<key>sizeScale</key>
			<real>0.6</real>
			<key>speedScale</key>
			<integer>1</integer>
			<key>turnRateScale</key>
			<integer>2</integer>
		</dict>
	</dict>
</array>
</plist>
