<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cannonSet</key>
		<array>
			<dict>
				<key>angle</key>
				<real>-1.5707963267948966</real>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>-128</integer>
				<key>y</key>
				<integer>-100</integer>
			</dict>
			<dict>
				<key>angle</key>
				<real>1.5707963267948966</real>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>-128</integer>
				<key>y</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>inGameImage</key>
		<string>waypoint_ship_top_down</string>
		<key>previewImage</key>
		<string>WaypointShip</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<real>1</real>
			<key>fireRateScale</key>
			<real>1</real>
			<key>healthScale</key>
			<real>1</real>
			<key>rangeScale</key>
			<real>1</real>
			<key>shotSpeedScale</key>
			<real>1</real>
			<key>sizeScale</key>
			<real>1</real>
			<key>speedScale</key>
			<real>1</real>
			<key>turnRateScale</key>
			<real>1</real>
		</dict>
	</dict>
	<dict>
		<key>cannonSet</key>
		<array/>
		<key>inGameImage</key>
		<string>paper_boat_top_down</string>
		<key>previewImage</key>
		<string>PaperBoat</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<real>0.5</real>
			<key>fireRateScale</key>
			<real>5</real>
			<key>healthScale</key>
			<real>0.5</real>
			<key>rangeScale</key>
			<real>1.2</real>
			<key>shotSpeedScale</key>
			<real>1.2</real>
			<key>sizeScale</key>
			<real>0.80000000000000004</real>
			<key>speedScale</key>
			<real>2</real>
			<key>turnRateScale</key>
			<real>2.3999999999999999</real>
		</dict>
	</dict>
</array>
</plist>
