<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cannonSet</key>
		<array/>
		<key>colliderOffset</key>
		<dict/>
		<key>colliderPath</key>
		<array/>
		<key>inGameImage</key>
		<string>tentacle</string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<integer>1</integer>
			<key>fireRateScale</key>
			<integer>1</integer>
			<key>healthScale</key>
			<integer>1</integer>
			<key>itemRadiusScale</key>
			<integer>1</integer>
			<key>rangeScale</key>
			<integer>1</integer>
			<key>shotSpeedScale</key>
			<integer>1</integer>
			<key>sizeScale</key>
			<integer>1</integer>
			<key>speedScale</key>
			<integer>1</integer>
			<key>turnRateScale</key>
			<integer>1</integer>
		</dict>
		<key>previewImage</key>
		<string></string>
		<key>name</key>
		<string>Tentacle</string>
	</dict>
	<dict>
		<key>cannonSet</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>hasCannon</key>
				<true/>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>colliderOffset</key>
		<dict>
			<key>x</key>
			<integer>-256</integer>
			<key>y</key>
			<integer>-256</integer>
		</dict>
		<key>colliderPath</key>
		<array>
			<array>
				<integer>78</integer>
				<integer>161</integer>
			</array>
			<array>
				<integer>122</integer>
				<integer>189</integer>
			</array>
			<array>
				<integer>178</integer>
				<integer>164</integer>
			</array>
			<array>
				<integer>186</integer>
				<integer>117</integer>
			</array>
			<array>
				<integer>164</integer>
				<integer>81</integer>
			</array>
			<array>
				<integer>120</integer>
				<integer>75</integer>
			</array>
			<array>
				<integer>72</integer>
				<integer>97</integer>
			</array>
			<array>
				<integer>70</integer>
				<integer>128</integer>
			</array>
		</array>
		<key>inGameImage</key>
		<string>catapult_top_down</string>
		<key>name</key>
		<string>Catapult</string>
		<key>previewImage</key>
		<string></string>
		<key>stats</key>
		<dict>
			<key>damageScale</key>
			<real>1</real>
			<key>fireRateScale</key>
			<real>0.5</real>
			<key>healthScale</key>
			<real>0.8</real>
			<key>itemRadiusScale</key>
			<real>1</real>
			<key>rangeScale</key>
			<real>1</real>
			<key>shotSpeedScale</key>
			<real>1.1</real>
			<key>sizeScale</key>
			<real>1.3</real>
			<key>speedScale</key>
			<real>0</real>
			<key>turnRateScale</key>
			<real>0.55</real>
		</dict>
	</dict>
</array>
</plist>
