<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<array>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.1683748169838946</real>
				<key>y</key>
				<real>0.7762323084431431</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.1464128843338214</real>
				<key>y</key>
				<real>0.7176671547096145</real>
			</dict>
			<key>levelNamed</key>
			<string>1_sea_legs</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.1061493411420205</real>
				<key>y</key>
				<real>0.659102000976086</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.04319180087847731</real>
				<key>y</key>
				<real>0.561493411420205</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.03660322108345535</real>
				<key>y</key>
				<real>0.495119570522206</real>
			</dict>
			<key>levelNamed</key>
			<string>2_pegleg_plunder</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.03477306002928258</real>
				<key>y</key>
				<real>0.4632340979339515</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.04392386530014641</real>
				<key>y</key>
				<real>0.3025052871319343</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.07796486090775988</real>
				<key>y</key>
				<real>0.5309093866926956</real>
			</dict>
			<key>levelNamed</key>
			<string>3_cutlass_careen</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.2316983894582723</real>
				<key>y</key>
				<real>0.3122661460875223</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.3480966325036603</real>
				<key>y</key>
				<real>0.1450300959817797</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.1002928257686676</real>
				<key>y</key>
				<real>0.3317878639986985</real>
			</dict>
			<key>levelNamed</key>
			<string>4_fire_in_the_hole</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.1497071742313324</real>
				<key>y</key>
				<real>0.2257198633479747</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.1874084919472914</real>
				<key>y</key>
				<real>0.09036928583048642</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.2397510980966325</real>
				<key>y</key>
				<real>0.09752724906458432</real>
			</dict>
			<key>levelNamed</key>
			<string>5_dead_men_tell_no_tales</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.3349194729136164</real>
				<key>y</key>
				<real>0.2615096795184643</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.4436310395314788</real>
				<key>y</key>
				<real>0.3435008947454042</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.4513177159590044</real>
				<key>y</key>
				<real>0.363673336586953</real>
			</dict>
			<key>levelNamed</key>
			<string>6_shiver_me_timbers</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.4026354319180088</real>
				<key>y</key>
				<real>0.4293964535545794</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.4194729136163983</real>
				<key>y</key>
				<real>0.561493411420205</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.5314787701317716</real>
				<key>y</key>
				<real>0.7059541239629088</real>
			</dict>
			<key>levelNamed</key>
			<string>7_all_hands_on_deck</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.5849194729136163</real>
				<key>y</key>
				<real>0.5159427362941272</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.6350658857979502</real>
				<key>y</key>
				<real>0.7417439401333984</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.7126647144948756</real>
				<key>y</key>
				<real>0.785993167398731</real>
			</dict>
			<key>levelNamed</key>
			<string>8_give_no_quarter</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.7525622254758418</real>
				<key>y</key>
				<real>0.6408817309256548</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.5940702781844802</real>
				<key>y</key>
				<real>0.7404424922726534</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.6431185944363104</real>
				<key>y</key>
				<real>0.3682284040995608</real>
			</dict>
			<key>levelNamed</key>
			<string>9_boom_about</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.7474377745241582</real>
				<key>y</key>
				<real>0.5432731413697739</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.7551244509516838</real>
				<key>y</key>
				<real>0.4176834228078737</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.7243777452415813</real>
				<key>y</key>
				<real>0.346754514397267</real>
			</dict>
			<key>levelNamed</key>
			<string>10_high_seas</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.6519033674963397</real>
				<key>y</key>
				<real>0.3129168700178949</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.5560029282576867</real>
				<key>y</key>
				<real>0.2829835692207581</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.7141288433382138</real>
				<key>y</key>
				<real>0.133317065235074</real>
			</dict>
			<key>levelNamed</key>
			<string>11_x_marks_the_spot</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.8484626647144948</real>
				<key>y</key>
				<real>0.2101024890190337</real>
			</dict>
		</dict>
	</array>
	<key>startPoint</key>
	<dict>
		<key>levelNamed</key>
		<string>0_setting_sail</string>
		<key>target</key>
		<dict>
			<key>x</key>
			<real>0.1207906295754026</real>
			<key>y</key>
			<real>0.8315438425248088</real>
		</dict>
	</dict>
</dict>
</plist>
