<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<array>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.16837481698389459</real>
				<key>y</key>
				<real>0.77623230844314306</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.14641288433382138</real>
				<key>y</key>
				<real>0.71766715470961451</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.1061493411420205</real>
				<key>y</key>
				<real>0.65910200097608596</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.043191800878477307</real>
				<key>y</key>
				<real>0.56149341142020504</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.036603221083455345</real>
				<key>y</key>
				<real>0.49511957052220601</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.034773060029282578</real>
				<key>y</key>
				<real>0.46323409793395154</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.043923865300146414</real>
				<key>y</key>
				<real>0.30250528713193425</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.077964860907759878</real>
				<key>y</key>
				<real>0.53090938669269561</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.23169838945827234</real>
				<key>y</key>
				<real>0.31226614608752234</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.3480966325036603</real>
				<key>y</key>
				<real>0.14503009598177974</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.10029282576866765</real>
				<key>y</key>
				<real>0.33178786399869853</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.14970717423133237</real>
				<key>y</key>
				<real>0.22571986334797467</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.18740849194729137</real>
				<key>y</key>
				<real>0.090369285830486423</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.2397510980966325</real>
				<key>y</key>
				<real>0.09752724906458432</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.3349194729136164</real>
				<key>y</key>
				<real>0.26150967951846427</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.44363103953147875</real>
				<key>y</key>
				<real>0.34350089474540424</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.45131771595900438</real>
				<key>y</key>
				<real>0.363673336586953</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.40263543191800877</real>
				<key>y</key>
				<real>0.42939645355457945</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.41947291361639827</real>
				<key>y</key>
				<real>0.56149341142020504</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.53147877013177158</real>
				<key>y</key>
				<real>0.7059541239629088</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.58491947291361635</real>
				<key>y</key>
				<real>0.51594273629412724</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.6350658857979502</real>
				<key>y</key>
				<real>0.74174394013339839</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.71266471449487556</real>
				<key>y</key>
				<real>0.78599316739873104</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.75256222547584184</real>
				<key>y</key>
				<real>0.64088173092565481</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.59407027818448022</real>
				<key>y</key>
				<real>0.74044249227265335</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.64311859443631036</real>
				<key>y</key>
				<real>0.36822840409956081</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.74743777452415816</real>
				<key>y</key>
				<real>0.54327314136977389</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.75512445095168379</real>
				<key>y</key>
				<real>0.41768342280787374</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.72437774524158127</real>
				<key>y</key>
				<real>0.34675451439726701</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.6519033674963397</real>
				<key>y</key>
				<real>0.31291687001789492</real>
			</dict>
		</dict>
		<dict>
			<key>controlPoint1</key>
			<dict>
				<key>x</key>
				<real>0.55600292825768671</real>
				<key>y</key>
				<real>0.28298356922075807</real>
			</dict>
			<key>controlPoint2</key>
			<dict>
				<key>x</key>
				<real>0.7141288433382138</real>
				<key>y</key>
				<real>0.13331706523507403</real>
			</dict>
			<key>levelNamed</key>
			<string>LEVEL_NAME</string>
			<key>target</key>
			<dict>
				<key>x</key>
				<real>0.84846266471449483</real>
				<key>y</key>
				<real>0.21010248901903372</real>
			</dict>
		</dict>
	</array>
	<key>startPoint</key>
	<dict>
		<key>levelNamed</key>
		<string>setting_sail</string>
		<key>target</key>
		<dict>
			<key>x</key>
			<real>0.12079062957540264</real>
			<key>y</key>
			<real>0.83154384252480884</real>
		</dict>
	</dict>
</dict>
</plist>
